<%- contentFor('title') %>
作品登録
<%- contentFor('displayId') %>
Aa-9
<%- contentFor('styles') %>

<%- contentFor('scripts') %>



<%- contentFor('body') %>
<div class="form-container p-3 bg-light-gray">
    <% /* フォーム */ %>
    <form method="post">
        <div class="menu-group">
            <%- include('../../common/errorMessage') %>
            <%- include('../../common/successMessage') %>
        </div>
        <% /* 作品コード */ %>
        <div class="form-group row">
            <label for="identifier" class="col-md-3 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                作品コード<font color="red">＊</font>
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="identifier" id="identifier" placeholder="" maxlength=64
                    value="<%= forms.identifier %>">
                <p class="message">
                    <% /*半角64文字以内でご入力ください。*/ %>
                    半角64文字以内でご入力ください。
                </p>
                <p class="error message text-danger">
                    <% if (errors && errors.identifier) { %>
                    <%- errors.identifier.msg %>
                    <% } %>
                </p>
            </div>
        </div>

        <% /* 登録・更新共通部 */ %>
        <%- include('form', { forms: forms, isNew: true }) %>

        <% /* 登録ボタン */ %>
        <div class="btn-area panel-body">
            <button type="button" class="btn btn-ok btn-primary">登録する</button>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>