<%- contentFor('title') %>
作品登録
<%- contentFor('displayId') %>
Aa-9
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/creativeWorks/movieForm.js"></script>

<%- contentFor('body') %>
<div class="form-container p-3 bg-light-gray">
    <% /* フォーム */ %>
    <form method="post">
        <div class="menu-group">
            <%- include('../../common/errorMessage') %>
            <%- include('../../common/successMessage') %>
        </div>

        <%- include('form', { forms: forms, isNew: true }) %>

        <div class="btn-area panel-body">
            <button type="button" class="btn btn-ok btn-primary">登録する</button>
        </div>
    </form>
</div>