<%- contentFor('title') %>
作品登録
<%- contentFor('displayId') %>
Aa-9
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/creativeWorks/movieForm.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>