<%- contentFor('title') %>
作品編集
<%- contentFor('displayId') %>
Aa-9
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="form-container">
    <% /* フォーム */ %>
    <form method="post" class="p-3 bg-light-gray">
        <div class="menu-group">
            <%- include('../../common/errorMessage') %>
            <%- include('../../common/successMessage') %>
        </div>

        <% /* 作品コード */ %>
        <div class="form-group row">
            <label class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                作品コード
            </label>
            <div class="col-md-8">
                <input readonly style="width:auto;" type="text" class="form-control" name="identifier" id="identifier"
                    placeholder="" maxlength=64 value="<%= forms.identifier %>">
            </div>
        </div>

        <% /* 登録・更新共通部 */ %>
        <%- include('form', { forms: forms, isNew: true }) %>

        <% /* 更新ボタン */ %>
        <div class="btn-area panel-body">
            <button type="button" class="btn btn-ok btn-primary">更新する</button>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>