<div class="card card-plain">
    <div class="card-body ">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    追加特性
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="identifier" class="bmd-label-static">
                            コード<span class="text-danger">＊</span>
                        </label>
                        <% if (isNew) { %>
                        <input type="text" class="form-control" name="identifier" id="identifier" placeholder=""
                            maxlength=64 value="<%= forms.identifier %>">
                        <% } else { %>
                        <input type="text" disabled class="form-control" placeholder="" maxlength=64
                            value="<%= forms.identifier %>">
                        <input type="hidden" name="id" value="<%= forms.id %>">
                        <input type="hidden" class="form-control" name="identifier" id="identifier"
                            value="<%= forms.identifier %>">
                        <% } %>
                        <span class="bmd-help">半角64文字以内でご入力ください</span>
                        <% if (errors && errors.identifier) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.identifier.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input class="form-control" name="name" id="name" placeholder="" maxlength=64
                            value="<%= forms.name %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors.name) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.name.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label class="bmd-label-static" for="headline">
                            サブタイトル
                        </label>
                        <input class="form-control" name="headline" id="headline" placeholder="" maxlength=64
                            value="<%= forms.headline %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors.headline) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.headline.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-2">
                        <label for="duration" class="bmd-label-static">
                            上映時間
                        </label>
                        <div class="input-group">
                            <input type="number" class="form-control" name="duration" id="duration" placeholder=""
                                maxlength=10 value="<%= forms.duration %>">
                            <div class="input-group-append">
                                <span class="input-group-text">分</span>
                            </div>
                        </div>
                        <span class="bmd-help">半角10文字以内でご入力ください</span>
                        <% if (errors && errors.duration) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.duration.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label for="contentRating" class="bmd-label-static">
                            レイティング
                        </label>
                        <select class="form-control" name="contentRating" id="contentRating" style="width: 100%;">
                            <% if (forms.contentRating !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.contentRating) %>" selected="selected">
                                <%= forms.contentRating.name.ja %></option>
                            <% } %>
                        </select>

                        <% if (errors && errors.contentRating) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.contentRating.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label for="distributor" class="bmd-label-static">
                            配給
                        </label>
                        <select class="form-control" name="distributor" id="distributor" style="width: 100%;">
                            <% if (forms.distributor !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.distributor) %>" selected="selected">
                                <%= forms.distributor.name.ja %></option>
                            <% } %>
                        </select>

                        <% if (errors && errors.distributor) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.distributor.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-2">
                        <label class="bmd-label-static" for="datePublished">
                            公開日
                        </label>
                        <input class="form-control datepicker" name="datePublished" id="datePublished"
                            value="<%= forms.datePublished %>">
                        <% if (errors && errors.datePublished) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.datePublished.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label class="bmd-label-static" for="offers[availabilityEnds]">
                            興行終了予定日
                        </label>
                        <input class="form-control datepicker" name="offers[availabilityEnds]"
                            id="offers[availabilityEnds]"
                            value="<%= (forms.offers !== undefined) ? forms.offers.availabilityEnds : '' %>">
                        <% if (errors && errors['offers.availabilityEnds']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['offers.availabilityEnds'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label class="bmd-label-static" for="thumbnailUrl">
                            サムネイルURL
                        </label>
                        <input class="form-control" name="thumbnailUrl" id="thumbnailUrl" maxlength=256
                            value="<%= forms.thumbnailUrl %>">
                        <% if (errors && errors.thumbnailUrl) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.thumbnailUrl.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="link2">
                <%- include('../../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>
        </div>
    </div>
</div>
<!-- end card -->