<%- contentFor('title') %>
映画作品マスタ一覧
<%- contentFor('displayId') %>
Aa-10
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/creativeWorks/movieList.js"></script>
<%- contentFor('body') %>
<div class="form-container search mb-3">
    <form method="post" class="p-3 bg-light-gray">
        <%- include('../../common/master/_hidden') %>
        <div class="menu-group">
        </div>
        <div class="form-group row">
            <label for="identifier" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                作品コード
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="identifier" id="identifier" placeholder="" maxlength=64
                    value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                作品名
            </label>
            <div class="col-md-8">
                <input class="form-control" name="name" id="name" placeholder="" maxlength=64 value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="datePublishedThrough" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                公開日(From - To)
            </label>
            <div class="col-md-8">
                <input class="form-control datepicker" style="width:30%;display:inline-block;" placeholder=""
                    maxlength=10 name="datePublishedFrom" id="datePublishedFrom" value="" />
                ～
                <input class="form-control datepicker" style="width:30%;display:inline-block;" placeholder=""
                    maxlength=10 name="datePublishedThrough" id="datePublishedThrough" value="" />
            </div>
        </div>
        <div class="form-group row">
            <label for="availableThrough" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                興行期間(From - To)
            </label>
            <div class="col-md-8">
                <input class="form-control datepicker" style="width:30%;display:inline-block;" placeholder=""
                    maxlength=10 name="availableFrom" id="availableFrom" value="" />
                ～
                <input class="form-control datepicker" style="width:30%;display:inline-block;" placeholder=""
                    maxlength=10 name="availableThrough" id="availableThrough" value="" />
            </div>
        </div>

        <div class="panel-body">
            <button type="button" class="btn btn-ok search btn-primary">検索する</button>
            <button type="button" class="reset-condition btn btn-danger">検索内容リセット</button>
        </div>
    </form>
</div>
<div class="form-container search">
    <p class="mb-3" id="searchedCount" style="display:none;">
        検索結果 $searched_count$件
    </p>
    <div id="list" class="scroll-horizontal text-small mb-3" style="display:none;">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>作品コード</th>
                    <th class="text-left">作品名<br>サブタイトル</th>
                    <th>上映時間(分)</th>
                    <th>レイティング</th>
                    <th>公開日<br>興行終了予定日</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="templateRow" identifier="$identifier$">
                    <td name="identifier">$identifier$</td>
                    <td name="name__headline">
                        $name$<br>$headline$
                    </td>
                    <td name="duration" class="text-right">$duration$</td>
                    <td name="contentRating" class="text-left">$contentRating$</td>
                    <td name="dayPublished__dayAvailabilityEnds" class="text-left">
                        $dayPublished$<br>$dayAvailabilityEnds$</td>
                    <td name="edit" class="center">
                        <div class="btn-area text-center">
                            <button type="button" class="btn btn-primary btn-list edit btn-sm" data-toggle="modal"
                                data-target="#myModal">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>
<%- include('../../common/master/_loading') %>