<%- contentFor('title') %>
作品検索
<%- contentFor('displayId') %>
Aa-10
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/creativeWorks/movieList.js"></script>

<%- contentFor('body') %>

<div class="card">
    <div class="card-body">
        <form method="post">
            <%- include('../../common/master/_hidden') %>
            <div class="menu-group">
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-6">
                    <label for="identifier" class="bmd-label-static">
                        コード
                    </label>
                    <input type="text" class="form-control" name="identifier" id="identifier" placeholder=""
                        maxlength=64 value="">
                </div>

                <div class="form-group bmd-form-group col-md-6">
                    <label for="name" class="bmd-label-static">
                        名称
                    </label>
                    <input class="form-control" name="name" id="name" placeholder="" maxlength=64 value="">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-6">
                    <label for="datePublishedThrough" class="bmd-label-static">
                        公開日(From - To)
                    </label>

                    <div class="input-group">
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="datePublishedFrom"
                            id="datePublishedFrom" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">から</span>
                        </div>
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="datePublishedThrough"
                            id="datePublishedThrough" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">まで</span>
                        </div>
                    </div>
                </div>

                <div class="form-group bmd-form-group col-md-6">
                    <label for="availableThrough" class="bmd-label-static">
                        興行期間(From - To)
                    </label>

                    <div class="input-group">
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="availableFrom"
                            id="availableFrom" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">から</span>
                        </div>
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="availableThrough"
                            id="availableThrough" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">まで</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <% if (user.cognitoGroups.movieTheaters === undefined || user.cognitoGroups.movieTheaters.length === 0) { %>
                <a class="btn btn-primary" role="button" href="/creativeWorks/movie/add">
                    <i class=" fa fa-plus"></i> 登録</a>
                <% } %>

                <button type="button" class="reset-condition btn btn-secondary float-right">検索内容リセット</button>
                <button type="button" class="btn search btn-ok btn-success float-right">検索</button>
            </div>
        </form>
    </div>
</div>

<div class="form-container search">
    <p id="resultStats" style="display:none;">
    </p>
    <!-- <p class="mb-3" id="searchedCount" style="display:none;">
        検索結果 $searched_count$件
    </p> -->
    <div id="list" class="scroll-horizontal text-small mb-3" style="display:none;">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>コード</th>
                                <th>名称</th>
                                <th>上映時間</th>
                                <th>レイティング</th>
                                <th>公開日</th>
                                <th>興行終了予定日</th>
                                <th>追加特性</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="templateRow" identifier="$identifier$">
                                <td name="id__identifier">
                                    <a target="_blank" href="/creativeWorks/movie/$id$/update">
                                        $identifier$
                                        <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                    </a>
                                </td>
                                <td name="name|slice">
                                    $name$
                                </td>
                                <td name="durationAsMinutes" class="text-right">$durationAsMinutes$ min</td>
                                <td name="contentRating" class="text-center">$contentRating$</td>
                                <td name="dayPublished">$dayPublished$</td>
                                <td name="dayAvailabilityEnds">$dayAvailabilityEnds$</td>
                                <td name="identifier__addtionalProperty">
                                    <a href="javascript:void(0)" class="showAdditionalProperty"
                                        data-identifier="$identifier$">
                                        <span>表示</span>
                                    </a>
                                </td>
                                <td name="id">
                                    <a target="_blank" href="/creativeWorks/movie/$id$/update">
                                        編集
                                        <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>

<div class="modal fade" id="modal-additionalProperty" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">作品の追加特性</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<%- include('../../common/master/_loading') %>