<%- contentFor('title') %>
券種グループマスタ一覧
<%- contentFor('displayId') %>
Aa-8
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/ticketTypeGroupsList.js"></script>
<%- contentFor('body') %>
<% /* フォーム */ %>
<div class="form-container search mb-3">
    <form method="post" class="p-3 bg-light-gray">
        <% /* 共通Hiddenコントロール */ %>
        <%- include('../common/master/_hidden') %>
        <div class="menu-group">
            <% /* メッセージ */ %>
            <% if (message !== '') { %>
            <p class="error message text-danger panel-body bg-danger">
                <%= message %>
            </p>
            <% } %>
        </div>
        <% /* 券種グループコード */ %>
        <div class="form-group row">
            <label for="id" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                券種グループコード
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="id" id="id" placeholder="" maxlength=64>
            </div>
        </div>
        <% /* 券種グループ名 */ %>
        <div class="form-group row">
            <label for="name" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                券種グループ名
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="name" id="name" placeholder="" maxlength=64>
            </div>
        </div>
        <% /* 検索ボタン */ %>
        <div class="panel-body">
            <button type="button" class="btn btn-ok search btn-primary">検索する</button>
            <button type="button" class="reset-condition btn btn-danger">検索内容リセット</button>
        </div>
    </form>
</div>
<% /* 一覧 */ %>
<div class="form-container search">
    <p class="mb-3" id="searchedCount" style="display:none;">
        検索結果$searched_count$件
    </p>
    <div id="list" class="scroll-horizontal text-small mb-3" style="display:none;">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>券種グループコード</th>
                    <th>券種グループ名</th>
                    <th>興行区分コード</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="templateRow" _id="$_id$">
                    <td name="ticketGroupCode">$ticketGroupCode$</td>
                    <td name="name.ja">$name.ja$</td>
                    <td name="itemOffered.serviceType.id">$itemOffered.serviceType.id$</td>
                    <td name="id__id__id" class="center">
                        <div class="text-center">
                            <a target="_blank" class="btn btn-sm btn-sm btn-primary"
                                href="/ticketTypeGroups/$id$/update">
                                <i class="fas fa-edit"></i>
                            </a>
                        </div>

                        <div class="text-center mt-2">
                            <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary popupListTicketType"
                                data-id="$id$">
                                <span>関連券種</span>
                            </a>
                        </div>

                        <div class="text-center mt-2">
                            <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary showAdditionalProperty"
                                data-id="$id$">
                                <span>追加特性</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>

<div class="modal fade" id="modal-additionalProperty" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">券種グループの追加特性</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<%- include('_listTicketTypes') %>

<%- include('../common/master/_loading') %>