<%- contentFor('title') %>
ルームセクション作成
<%- contentFor('displayId') %>
SRS-00
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/places/screeningRoomSection.js"></script>
<%- contentFor('body') %>
<form method="post">
    <%- include('../../common/messages') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>