<!DOCTYPE html>
<html lang="ja" class="" style="font-size:14px;">
<%- include('./head') %>

<body>
    <div class="wrapper ">
        <div class="main-panel" style="width:100%;">
            <%- include('./navbar') %>

            <div class="content">
                <div class="container-fluid">
                    <%- body %>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <!-- <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Licenses
                                </a>
                            </li> -->
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made by
                        <a href="https://motionpicture.jp" target="_blank">Motion Picture</a>. <b>Version</b>
                        <%= version %>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
        $(function () {
            var disp_id = "#<%= displayId %>";
            $(disp_id).html($(disp_id).text());
        });
    </script>
</body>

</html>