<%
const PROJECT_CREATOR_IDS = (typeof process.env.PROJECT_CREATOR_IDS === 'string')
? process.env.PROJECT_CREATOR_IDS.split(',')
: [];
%>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item <%= (displayId === 'HO-01') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/home">
                <i class="material-icons">home</i>
                <p>Home</p>
            </a>
        </li>

        <%
        let placesShow = false;
        if (displayId.slice(0, 3) === 'MT-' || displayId.slice(0, 3) === 'SR-' || displayId.slice(0, 3) === 'ST-' || displayId.slice(0, 4) === 'SRS-') {
            placesShow = true;
        }
        %>
        <li class="nav-item<% if (placesShow) { %> active<% } %>">
            <a class="nav-link" data-toggle="collapse" href="#places">
                <i class="material-icons">place</i>
                <p> 施設
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse<% if (placesShow) { %> show<% } %>" id="places">
                <ul class="nav">
                    <li class="nav-item <%= (displayId === 'MT-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/places/movieTheater">
                            <span class="sidebar-mini"><i class="material-icons">business</i></span>
                            <span class="sidebar-normal">施設</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'SR-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/places/screeningRoom">
                            <span class="sidebar-mini"><i class="material-icons">theaters</i></span>
                            <span class="sidebar-normal">ルーム</span>
                        </a>
                    </li>

                    <li class="nav-item <%= (displayId === 'SRS-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/places/screeningRoomSection">
                            <span class="sidebar-mini"><i class="material-icons">view_compact</i></span>
                            <span class="sidebar-normal">セクション</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'ST-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/places/seat">
                            <span class="sidebar-mini"><i class="material-icons">event_seat</i></span>
                            <span class="sidebar-normal">座席</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item <%= (displayId === 'Aa-10') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/creativeWorks/movie">
                <i class="material-icons">movie</i>
                <p>コンテンツ</p>
            </a>
        </li>

        <%
        let eventsShow = false;
        if (displayId === 'Aa-3' || displayId === 'Aa-4') {
            eventsShow = true;
        }
        %>
        <li class="nav-item<% if (eventsShow) { %> active<% } %>">
            <a class="nav-link" data-toggle="collapse" href="#events">
                <i class="material-icons">event</i>
                <p> イベント
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse<% if (eventsShow) { %> show<% } %>" id="events">
                <ul class="nav">
                    <li class="nav-item <%= (displayId === 'Aa-3') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/events/screeningEventSeries">
                            <span class="sidebar-mini"><i class="icon far fa-calendar"></i></span>
                            <span class="sidebar-normal">施設コンテンツ</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'Aa-4') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/events/screeningEvent">
                            <span class="sidebar-mini"><i class="icon far fa-calendar-alt"></i></span>
                            <span class="sidebar-normal">スケジュール</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <%
        let productsShow = false;
        if (displayId === 'PR-00') {
            productsShow = true;
        }
        %>
        <li class="nav-item<% if (productsShow) { %> active<% } %>">
            <a class="nav-link" data-toggle="collapse" href="#services">
                <i class="material-icons">payment</i>
                <p> プロダクト
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse<% if (productsShow) { %> show<% } %>" id="services">
                <ul class="nav">
                    <li class="nav-item <%= (displayId === 'PR-00') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/products?typeOf=Product">
                            <span class="sidebar-mini"><i class="icon fas fa-glasses"></i></span>
                            <span class="sidebar-normal">アドオン</span>
                        </a>
                    </li>

                    <% if (PROJECT_CREATOR_IDS.includes(user.profile.sub)) { %>
                    <li class="nav-item <%= (displayId === 'PR-00') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/products?typeOf=MembershipService">
                            <span class="sidebar-mini"><i class="icon fas fa-id-card"></i></span>
                            <span class="sidebar-normal">メンバーシップ</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'PR-00') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/products?typeOf=PaymentCard">
                            <span class="sidebar-mini"><i class="icon fas fa-id-card"></i></span>
                            <span class="sidebar-normal">ペイメントカード</span>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </li>

        <%
        let offersShow = false;
        if (displayId.slice(0, 3) === 'OC-' || displayId.slice(0, 3) === 'OF-') {
            offersShow = true;
        }
        %>
        <li class="nav-item<% if (offersShow) { %> active<% } %>">
            <a class="nav-link" data-toggle="collapse" href="#offers">
                <i class="material-icons">local_offer</i>
                <p> オファー
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse<% if (offersShow) { %> show<% } %>" id="offers">
                <ul class="nav">
                    <li class="nav-item <%= (displayId === 'OF-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/offers">
                            <span class="sidebar-mini"><i class="material-icons">local_offer</i></span>
                            <span class="sidebar-normal">単価オファー</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'OC-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/offerCatalogs">
                            <span class="sidebar-mini"><i class="material-icons">local_offer</i></span>
                            <span class="sidebar-normal">カタログ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item <%= (displayId === 'PS-02') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/priceSpecifications">
                <i class="material-icons">attach_money</i>
                <p>価格仕様<span class="badge badge-secondary ml-2">Preview</span></p>
            </a>
        </li>

        <%
        let offersCategoryCodes = false;
        if (displayId.slice(0, 3) === 'CC-') {
            offersCategoryCodes = true;
        }
        %>
        <li class="nav-item <%= (offersCategoryCodes) ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/categoryCodes">
                <i class="material-icons">category</i>
                <p>区分</b>
                </p>
            </a>
        </li>

        <%
        let offersAccountTitles = false;
        if (displayId.slice(0, 3) === 'AT-') {
            offersAccountTitles = true;
        }
        %>
        <li class="nav-item <% if (offersAccountTitles) { %>active<% } %>">
            <a class="nav-link" data-toggle="collapse" href="#accountTitles">
                <i class="material-icons">account_balance</i>
                <p>勘定科目
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse <% if (offersAccountTitles) { %>show<% } %>" id="accountTitles">
                <ul class="nav">
                    <li class="nav-item <%= (displayId === 'AT-07') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/accountTitles/accountTitleCategory">
                            <span class="sidebar-mini"><i class="material-icons">account_balance</i></span>
                            <span class="sidebar-normal">科目分類</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'AT-04') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/accountTitles/accountTitleSet">
                            <span class="sidebar-mini"><i class="material-icons">account_balance</i></span>
                            <span class="sidebar-normal">科目</span>
                        </a>
                    </li>
                    <li class="nav-item <%= (displayId === 'AT-01') ? 'active': ''; %>">
                        <a class="nav-link" href="/projects/<%= req.project.id %>/accountTitles">
                            <span class="sidebar-mini"><i class="material-icons">account_balance</i></span>
                            <span class="sidebar-normal">細目</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <%
        let sellersActive = false;
        if (displayId.slice(0, 3) === 'SE-') {
            sellersActive = true;
        }
        %>
        <li class="nav-item <%= (sellersActive) ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/sellers">
                <i class="material-icons">business</i>
                <p>販売者</b>
                </p>
            </a>
        </li>

        <% if (process.env.USE_CUSTOMERS === '1' 
            && typeof user.profile['cognito:username'] === 'string'
            && user.profile['cognito:username'].slice(0, 6) === 'Google') { %>
        <li class="nav-item <%= (displayId === 'CU-01') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/customers">
                <i class="material-icons">groups</i>
                <p>顧客</p>
            </a>
        </li>
        <% } %>

        <li class="nav-item <%= (displayId === 'Aa-11') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/reservations">
                <i class="material-icons">event_seat</i>
                <p>予約</p>
            </a>
        </li>

        <% if (process.env.USE_ACCOUNTING_REPORTS === '1' 
            && typeof user.profile['cognito:username'] === 'string'
            && user.profile['cognito:username'].slice(0, 6) === 'Google') { %>
        <li class="nav-item <%= (displayId === 'AR-00') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/accountingReports">
                <i class="material-icons">summarize</i>
                <p>経理レポート</p>
            </a>
        </li>
        <% } %>

        <% if (PROJECT_CREATOR_IDS.includes(user.profile.sub)) { %>
        <li class="nav-item <%= (displayId === 'ME-01') ? 'active': ''; %>">
            <a class="nav-link" href="/projects/<%= req.project.id %>/iam/members">
                <i class="material-icons">person</i>
                <p>IAMメンバー</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/<%= req.project.id %>/orders">
                <i class="material-icons">description</i>
                <p>注文</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/<%= req.project.id %>/ownershipInfos">
                <i class="material-icons">description</i>
                <p>所有権</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/projects/<%= req.project.id %>/paymentServices">
                <i class="material-icons">description</i>
                <p>決済サービス</p>
            </a>
        </li>
        <% } %>
    </ul>
</div>