<div class="form-group">
    <label for="typeOf" class="">
        価格仕様タイプ
    </label>
    <select class="form-control" name="typeOf">
        <option value="" selected>選択してください</option>
        <option value="<%= PriceSpecificationType.CategoryCodeChargeSpecification %>"
            <% if (PriceSpecificationType.CategoryCodeChargeSpecification === forms.typeOf) { %> selected<% } %>>
            <%= PriceSpecificationType.CategoryCodeChargeSpecification %></option>
        <option value="<%= PriceSpecificationType.MovieTicketTypeChargeSpecification %>"
            <% if (PriceSpecificationType.MovieTicketTypeChargeSpecification === forms.typeOf) { %> selected<% } %>>
            <%= PriceSpecificationType.MovieTicketTypeChargeSpecification %></option>
    </select>
    <p class="error message text-danger">
        <% if (errors && errors.typeOf) { %>
        <%- errors.typeOf.msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="price" class="">
        金額<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="price" id="price" placeholder="" maxlength=10 value=<%=forms.price %>>
    <p class="message">
        半角10文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors.price) { %>
        <%- errors.price.msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="appliesToCategoryCode" class="">
        適用カテゴリー
    </label>
    <select class="form-control" name="appliesToCategoryCode">
        <option value="" selected>選択してください</option>
        <% Object.values(VideoFormatType).forEach((type) => { %>
        <option
            value="<%= JSON.stringify({codeValue: type, inCodeSet:{identifier:CategorySetIdentifier.VideoFormatType}}) %>" <% if (typeof forms.appliesToCategoryCode.codeValue === 'string'
            && forms.appliesToCategoryCode.codeValue === type
            && forms.appliesToCategoryCode.inCodeSet.identifier === CategorySetIdentifier.VideoFormatType) { %>
            selected<% } %>>
            <%= CategorySetIdentifier.VideoFormatType %> <%= type %>
        </option>
        <% }) %>

        <% Object.values(SoundFormatType).forEach((type) => { %>
        <option
            value="<%= JSON.stringify({codeValue: type, inCodeSet:{identifier:CategorySetIdentifier.SoundFormatType}}) %>" <% if (Array.isArray(forms.appliesToCategoryCode) && forms.appliesToCategoryCode.lenght > 0
                && forms.appliesToCategoryCode.codeValue === type
                && forms.appliesToCategoryCode.inCodeSet.identifier === CategorySetIdentifier.SoundFormatType) { %>
            selected<% } %>>
            <%= CategorySetIdentifier.SoundFormatType %> <%= type %>
        </option>
        <% }) %>
    </select>
</div>

<div class="form-group">
    <label for="appliesToMovieTicketType" class="">
        適用ムビチケ券種区分
    </label>
    <select class="form-control" name="appliesToMovieTicketType">
        <option value="" selected>選択してください</option>
        <% Object.values(MovieTicketType).forEach((type) => { %>
        <option value="<%= type.code %>" <% if (type.code === forms.appliesToMovieTicketType) { %> selected<% } %>>
            <%= type.code %> <%= type.name %>
        </option>
        <% }) %>
    </select>
</div>

<div class="form-group">
    <label for="appliesToVideoFormat" class="">
        ムビチケ適用上映方式
    </label>
    <select class="form-control" name="appliesToVideoFormat">
        <option value="" selected>選択してください</option>
        <% Object.values(VideoFormatType).forEach((type) => { %>
        <option value="<%= type %>" <% if (type === forms.appliesToVideoFormat) { %> selected<% } %>>
            <%= type %>
        </option>
        <% }) %>
    </select>
</div>