<div class="card">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="typeOf" class="bmd-label-static">
                            価格仕様タイプ
                        </label>
                        <% if (isNew) { %>
                        <select class="form-control" name="typeOf">
                            <option value="" selected>選択してください</option>
                            <% priceSpecificationTypes.forEach((priceSpecificationType) => { %>
                            <option value="<%= priceSpecificationType.codeValue %>"
                                <% if (priceSpecificationType.codeValue === forms.typeOf) { %> selected<% } %>>
                                <%= priceSpecificationType.name %>
                            </option>
                            <% }) %>
                        </select>
                        <% } else { %>
                        <% const priceSpecificationType = priceSpecificationTypes.find((p) => p.codeValue === forms.typeOf) %>
                        <input class="form-control" disabled type="text"
                            value="<%= (priceSpecificationType !== undefined) ? priceSpecificationType.name : '' %>">
                        <input type="hidden" name="id" value="<%= forms.id %>">
                        <input type="hidden" name="typeOf" value="<%= forms.typeOf %>">
                        <% } %>
                        <% if (errors && errors.typeOf) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.typeOf.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=30
                            value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="price" class="bmd-label-static">
                            金額<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="price" id="price" placeholder="" maxlength=10
                            value="<%= (typeof forms.price === 'string' || typeof forms.price === 'number') ? forms.price : '' %>">
                        <span class="bmd-help">半角10文字以内でご入力ください</span>
                        <% if (errors && errors.price) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.price.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div
                        class="form-group bmd-form-group col-md-3 d-none appliesToConditions <%= PriceSpecificationType.CategoryCodeChargeSpecification %>">
                        <label for="appliesToCategoryCode" class="bmd-label-static">
                            適用区分
                        </label>
                        <select class="form-control" name="appliesToCategoryCode" id="appliesToCategoryCode"
                            style="width: 100%;">
                            <% if (forms.appliesToCategoryCode !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.appliesToCategoryCode) %>" selected="selected">
                                <%= forms.appliesToCategoryCode.name.ja %></option>
                            <% } %>
                        </select>

                        <% if (errors && errors['appliesToCategoryCode']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['appliesToCategoryCode'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div
                        class="form-group bmd-form-group col-md-3 d-none appliesToConditions <%= PriceSpecificationType.MovieTicketTypeChargeSpecification %>">
                        <label for="appliesToMovieTicket[id]" class="bmd-label-static">
                            適用決済カード(ムビチケ券種)区分
                        </label>
                        <div class="input-group">
                            <select class="form-control" name="appliesToMovieTicket[id]">
                                <option value="" selected>選択してください</option>
                                <% Object.values(movieTicketTypes).forEach((movieTicketType) => { %>
                                <%
                                const selected = forms.appliesToMovieTicket !== undefined 
                                    && (forms.appliesToMovieTicket.id === movieTicketType.id
                                    || (forms.appliesToMovieTicket.serviceType === movieTicketType.codeValue
                                    && forms.appliesToMovieTicket.serviceOutput.typeOf === movieTicketType.paymentMethod.typeOf));
                                %>
                                <option value="<%= movieTicketType.id %>" <% if (selected) { %> selected<% } %>>
                                    <%= movieTicketType.paymentMethod.typeOf %> <%= movieTicketType.codeValue %>
                                    <%= movieTicketType.name.ja %>
                                </option>
                                <% }) %>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"></span>
                            </div>
                        </div>

                        <% if (errors && errors['appliesToMovieTicket.id']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['appliesToMovieTicket.id'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div
                        class="form-group bmd-form-group col-md-3 d-none appliesToConditions <%= PriceSpecificationType.MovieTicketTypeChargeSpecification %>">
                        <label for="appliesToVideoFormat" class="bmd-label-static">
                            決済カード(ムビチケ)適用上映方式
                        </label>
                        <select class="form-control" name="appliesToVideoFormat" id="appliesToVideoFormat"
                            style="width: 100%;">
                            <% if (forms.appliesToVideoFormat !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.appliesToVideoFormat) %>" selected="selected">
                                <%= forms.appliesToVideoFormat.name.ja %></option>
                            <% } %>
                        </select>

                        <% if (errors && errors['appliesToVideoFormat']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['appliesToVideoFormat'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="link2">
            </div>

        </div>
    </div>
</div>
<!-- end card -->