<%- contentFor('title') %>
価格仕様検索
<%- contentFor('displayId') %>
PS-02
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/commonMaster.js"></script>
<script src="/js/commonMasterList.js"></script>
<script src="/js/priceSpecification/index.js"></script>

<%- contentFor('body') %>

<div class="card card-plain">
    <div class="card-body search searchPriceSpecification">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary" href="/projects/<%= req.project.id %>/priceSpecifications/new">
                <i class="material-icons">add</i> 登録</a>
            <a class="btn btn-primary search btn-ok" href="#">
                <i class="material-icons">refresh</i> 更新</a>
        </div>
        <div class="material-datatables">
            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post">
                            <%- include('../common/master/_hidden') %>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-3">
                                    <label for="typeOf" class="bmd-label-static">
                                        仕様タイプ
                                    </label>
                                    <select class="form-control" name="typeOf">
                                        <option value="">---</option>
                                        <% priceSpecificationTypes.forEach((priceSpecificationType) => { %>
                                        <option value="<%= priceSpecificationType.codeValue %>">
                                            <%= priceSpecificationType.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-3">
                                    <label for="appliesToCategoryCode[$elemMatch]" class="bmd-label-static">
                                        適用区分
                                    </label>
                                    <select class="form-control" name="appliesToCategoryCode[$elemMatch]"
                                        id="appliesToCategoryCode[$elemMatch]" style="width: 100%;">
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-3">
                                    <label for="appliesToMovieTicket" class="bmd-label-static">
                                        適用決済カード区分
                                    </label>
                                    <select class="form-control" name="appliesToMovieTicket" id="appliesToMovieTicket"
                                        style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="list" style="display:none;" class="row">
                    <div class="col-sm-12 table-responsive">
                        <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline"
                            cellspacing="0" width="100%" style="width: 100%;" role="grid"
                            aria-describedby="datatables_info">
                            <thead class="text-primary">
                                <tr>
                                    <th>仕様タイプ</th>
                                    <th>名称</th>
                                    <th>金額</th>
                                    <th>適用区分</th>
                                    <th>適用決済カード区分</th>
                                    <th>決済カード適用上映方式</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="templateRow">
                                    <td name="priceSpecificationTypeName|slice">
                                        <span class="text-muted">$priceSpecificationTypeName$</span>
                                    </td>
                                    <td name="name.ja|slice">$name.ja$</td>
                                    <td name="price__priceCurrency">$price$ $priceCurrency$</td>
                                    <td name="appliesToCategoryCode.codeValue|slice">$appliesToCategoryCode.codeValue$</td>
                                    <td name="appliesToMovieTicket.serviceOutput.typeOf|slice__appliesToMovieTicket.serviceType|slice">
                                        $appliesToMovieTicket.serviceOutput.typeOf$ $appliesToMovieTicket.serviceType$
                                    </td>
                                    <td name="appliesToVideoFormat|slice">$appliesToVideoFormat$</td>
                                    <td name="id">
                                        <a target="_blank" href="/projects/<%= req.project.id %>/priceSpecifications/$id$/update">
                                            <i class="material-icons" style="font-size: 1.2em;">edit</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                        </div>
                        <div id="pager" class="div_pager_parent float-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../common/master/_loading') %>