<%- contentFor('title') %>
価格仕様検索
<%- contentFor('displayId') %>
PS-02
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/priceSpecification/index.js"></script>

<%- contentFor('body') %>

<div class="card">
    <div class="card-body search searchPriceSpecification">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary" href="/priceSpecifications/new">
                <i class="material-icons">add</i>登録</a>
            <a class="btn btn-primary search btn-ok" href="#">
                <i class="material-icons">refresh</i>更新</a>
        </div>
        <div class="material-datatables">
            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <form method="post">
                            <%- include('../common/master/_hidden') %>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-2">
                                    <label for="typeOf" class="bmd-label-static">
                                        仕様タイプ
                                    </label>
                                    <select class="form-control" name="typeOf">
                                        <option value="">---</option>
                                        <% priceSpecificationTypes.forEach((priceSpecificationType) => { %>
                                        <option value="<%= priceSpecificationType.codeValue %>">
                                            <%= priceSpecificationType.name %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-3">
                                    <label for="appliesToCategoryCode" class="bmd-label-static">
                                        適用区分
                                    </label>
                                    <select class="form-control" name="appliesToCategoryCode">
                                        <option value="">選択してください</option>
                                        <% videoFormatTypes.forEach((videoFormatType) => { %>
                                        <option
                                            value="<%= JSON.stringify({codeValue: videoFormatType.codeValue, inCodeSet:{identifier:videoFormatType.inCodeSet.identifier}}) %>">
                                            上映方式区分 <%= videoFormatType.name.ja %>
                                        </option>
                                        <% }) %>

                                        <% soundFormatTypes.forEach((soundFormatType) => { %>
                                        <option
                                            value="<%= JSON.stringify({codeValue: soundFormatType.codeValue, inCodeSet:{identifier:soundFormatType.inCodeSet.identifier}}) %>">
                                            音響方式区分 <%= soundFormatType.name.ja %>
                                        </option>
                                        <% }) %>

                                        <% seatingTypes.forEach((seatingType) => { %>
                                        <option
                                            value="<%= JSON.stringify({codeValue: seatingType.codeValue, inCodeSet:{identifier:seatingType.inCodeSet.identifier}}) %>">
                                            座席区分 <%= seatingType.name.ja %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-3">
                                    <label for="appliesToMovieTicketType" class="bmd-label-static">
                                        適用ムビチケ券種区分
                                    </label>
                                    <select class="form-control" name="appliesToMovieTicketType">
                                        <option value="">選択してください</option>
                                        <% Object.values(movieTicketTypes).forEach((movieTicketType) => { %>
                                        <option value="<%= movieTicketType.codeValue %>">
                                            <%= movieTicketType.codeValue %> <%= movieTicketType.name.ja %>
                                        </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="list" style="display:none;" class="row">
                    <div class="col-sm-12 table-responsive">
                        <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline"
                            cellspacing="0" width="100%" style="width: 100%;" role="grid"
                            aria-describedby="datatables_info">
                            <thead class="text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>仕様タイプ</th>
                                    <th>名称</th>
                                    <th>適用区分</th>
                                    <th>適用ムビチケ</th>
                                    <th>金額</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="templateRow">
                                    <td name="id__id">
                                        <a target="_blank" href="/priceSpecifications/$id$/update">
                                            $id$
                                            <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                        </a>
                                    </td>
                                    <td name="priceSpecificationTypeName">
                                        <span class="text-muted">$priceSpecificationTypeName$</span>
                                    </td>
                                    <td name="name.ja">$name.ja$</td>
                                    <td name="appliesToCategoryCodeSetName__appliesToCategoryCode.codeValue">
                                        $appliesToCategoryCodeSetName$
                                        $appliesToCategoryCode.codeValue$</td>
                                    <td
                                        name="appliesToMovieTicketType__appliesToMovieTicket.name__appliesToVideoFormat">
                                        $appliesToMovieTicketType$ $appliesToMovieTicket.name$ /
                                        $appliesToVideoFormat$
                                    </td>
                                    <td name="price__priceCurrency">$price$ $priceCurrency$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                        </div>
                        <div id="pager" class="div_pager_parent float-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../common/master/_loading') %>