<%- contentFor('title') %>
価格仕様登録
<%- contentFor('displayId') %>
PS-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/priceSpecification/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../common/messages') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>