<% if (errors && errors[`hasPOS`]) { %>
<div class="form-row">
    <p class="bmd-help text-danger d-block">
        <%- errors[`hasPOS`].msg %>
    </p>
</div>
<% } %>

<% hasPOS.forEach((place, key) => { %>
<div class="form-row">
    <div class="form-group bmd-form-group col-6">
        <label class="bmd-label-floating">コード</label>
        <input class="form-control" name="hasPOS[<%= key %>][id]" id="hasPOS[<%= key %>][id]" maxlength=64
            value="<%= place.id %>">
        <% if (errors && errors[`hasPOS[${key}].id`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`hasPOS[${key}].id`].msg %>
        </span>
        <% } %>
    </div>
    <div class="form-group bmd-form-group col-6">
        <label class="bmd-label-floating">名称</label>
        <input class="form-control" name="hasPOS[<%= key %>][name]" id="hasPOS[<%= key %>][name]" maxlength=64
            value="<%= place.name %>">
        <% if (errors && errors[`hasPOS[${key}].name`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`hasPOS[${key}].name`].msg %>
        </span>
        <% } %>
    </div>
</div>
<% }) %>