<div class="card card-plain">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4pos" role="tablist">
                    POS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4entranceGate" role="tablist">
                    入場ゲート
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4offers" role="tablist">
                    販売初期設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    追加特性
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="branchCode" class="bmd-label-static">
                            コード<span class="text-danger">＊</span>
                        </label>
                        <% if (isNew) { %>
                        <input type="text" class="form-control" name="branchCode" id="branchCode" placeholder=""
                            maxlength="12" value="<%= forms.branchCode %>">
                        <span class="bmd-help">半角12文字以内でご入力ください</span>
                        <% } else { %>
                        <input readonly type="text" class="form-control" name="branchCode" id="branchCode"
                            placeholder="" maxlength="12" value="<%= forms.branchCode %>">
                        <input type="hidden" name="id" value="<%= forms.id %>">
                        <% } %>
                        <% if (errors && errors.branchCode) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.branchCode.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="containedInPlace[branchCode]" class="bmd-label-static">
                            親組織<span class="text-danger">＊</span>
                        </label>

                        <select class="form-control" name="parentOrganization" id="parentOrganization"
                            style="width: 100%;">
                            <% if (forms.parentOrganization !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.parentOrganization) %>" selected="selected">
                                <%= forms.parentOrganization.name.ja %></option>
                            <% } %>
                        </select>

                        <% if (errors && errors['parentOrganization']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['parentOrganization'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input class="form-control" name="name[ja]" id="name[ja]" placeholder="" maxlength="64"
                            value="<%= forms.name.ja %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="name[en]" class="bmd-label-static">
                            英語名称
                        </label>
                        <input class="form-control" name="name[en]" id="name[en]" placeholder="" maxlength="64"
                            value="<%= forms.name.en %>">
                        <span class="bmd-help">半角64文字以内でご入力ください</span>
                        <% if (errors && errors['name.en']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.en'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="kanaName" class="bmd-label-static">
                            カナ名称
                        </label>
                        <input class="form-control" name="kanaName" id="kanaName" placeholder="" maxlength="64"
                            value="<%= forms.kanaName %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors.kanaName) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.kanaName.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="telephone" class="bmd-label-static">
                            電話番号
                        </label>
                        <input type="tel" class="form-control" name="telephone" id="telephone" placeholder=""
                            maxlength=64 value="<%= forms.telephone %>">
                        <% if (errors && errors.telephone) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.telephone.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="url" class="bmd-label-static">
                            URL
                        </label>
                        <input type="tel" class="form-control" name="url" id="url" placeholder="" maxlength=256
                            value="<%= forms.url %>">
                        <% if (errors && errors.url) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.url.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link4pos">
                <%- include('./_pos', {
                    hasPOS: forms.hasPOS
                }) %>
            </div>

            <div class="tab-pane" id="link4entranceGate">
                <%- include('./_entranceGate', {
                    hasEntranceGate: forms.hasEntranceGate
                }) %>
            </div>

            <div class="tab-pane" id="link4offers">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="offers[eligibleQuantity][maxValue]" class="bmd-label-static">
                            販売上限席数
                            <a href="#" data-toggle="tooltip"
                                title="<p class=&quot;text-left mb-0&quot;>イベント作成時の初期設定として適用されます。</p>"
                                style="pointer-events: auto;">
                                <span class="material-icons" style="font-size: 1.2em;">
                                    help
                                </span>
                            </a>
                        </label>

                        <div class="input-group">
                            <input type="number" class="form-control" name="offers[eligibleQuantity][maxValue]"
                                id="offers[eligibleQuantity][maxValue]" placeholder="" maxlength=8
                                value="<%= forms.offers.eligibleQuantity.maxValue %>">
                            <div class="input-group-append">
                                <span class="input-group-text">席</span>
                            </div>
                        </div>

                        <% if (errors && errors['offers.eligibleQuantity.maxValue']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['offers.eligibleQuantity.maxValue'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="offers[availabilityStartsGraceTime][value]" class="bmd-label-static">
                            販売開始はイベント開始日の
                            <a href="#" data-toggle="tooltip"
                                title="<p class=&quot;text-left mb-0&quot;>イベント作成時の初期設定として適用されます。イベント開始日以前に設定する場合、負の値を入力してください。</p>"
                                style="pointer-events: auto;">
                                <span class="material-icons" style="font-size: 1.2em;">
                                    help
                                </span>
                            </a>
                        </label>

                        <div class="input-group">
                            <input type="number" class="form-control" name="offers[availabilityStartsGraceTime][value]"
                                id="offers[availabilityStartsGraceTime][value]" placeholder="" maxlength=8
                                value="<%= forms.offers.availabilityStartsGraceTime.value %>">
                            <div class="input-group-append">
                                <span class="input-group-text">日後の0時</span>
                            </div>
                        </div>

                        <% if (errors && errors['offers.availabilityStartsGraceTime.value']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['offers.availabilityStartsGraceTime.value'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="offers[availabilityEndsGraceTime][value]" class="bmd-label-static">
                            販売終了はイベント開始日時の
                            <a href="#" data-toggle="tooltip"
                                title="<p class=&quot;text-left mb-0&quot;>イベント作成時の初期設定として適用されます。イベント開始日時以前に設定する場合、負の値を入力してください。</p>"
                                style="pointer-events: auto;">
                                <span class="material-icons" style="font-size: 1.2em;">
                                    help
                                </span>
                            </a>
                        </label>

                        <div class="input-group">
                            <input type="number" class="form-control" name="offers[availabilityEndsGraceTime][value]"
                                id="offers[availabilityEndsGraceTime][value]" placeholder="" maxlength=8
                                value="<%= forms.offers.availabilityEndsGraceTime.value %>">
                            <div class="input-group-append">
                                <span class="input-group-text">秒後</span>
                            </div>
                        </div>

                        <% if (errors && errors['offers.availabilityEndsGraceTime.value']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['offers.availabilityEndsGraceTime.value'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link2">
                <%- include('../../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>

        </div>

    </div>
</div>
<!-- end card -->