<div class="form-group">
    <label for="name[ja]" class="">
        名称<span class="text-danger">＊</span>
    </label>
    <input class="form-control" name="name[ja]" id="name[ja]" placeholder="" maxlength=64 value="<%= forms.name.ja %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['name.ja']) { %>
        <%- errors['name.ja'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="name[en]" class="">
        英語名称
    </label>
    <input class="form-control" name="name[en]" id="name[en]" placeholder="" maxlength=64 value="<%= forms.name.en %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['name.en']) { %>
        <%- errors['name.en'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="kanaName" class="">
        カナ名称
    </label>
    <input class="form-control" name="kanaName" id="kanaName" placeholder="" maxlength=64 value="<%= forms.kanaName %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors.kanaName) { %>
        <%- errors.kanaName.msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="telephone" class="">
        電話番号
    </label>
    <input type="tel" class="form-control" name="telephone" id="telephone" placeholder="" maxlength=64
        value="<%= forms.telephone %>">
    <p class="message">
    </p>
    <p class="error message text-danger">
        <% if (errors && errors.telephone) { %>
        <%- errors.telephone.msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="containsPlaceStr" class="">
        スクリーン
    </label>
    <textarea rows="10" class="form-control" name="containsPlaceStr" <% if (!isNew) { %>
        readonly<% } %>><%- forms.containsPlaceStr %></textarea>'
</div>

<div class="form-group">
    <label for="offersStr" class="">
        オファー
    </label>
    <textarea rows="10" class="form-control" name="offersStr" <% if (!isNew) { %>
        readonly<% } %>><%- forms.offersStr %></textarea>'
</div>

<%- include('../../common/part/_additionalProperty', {
    additionalProperty: forms.additionalProperty
}) %>