<%- contentFor('title') %>
劇場編集
<%- contentFor('displayId') %>
MT-02
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/places/movieTheater.js"></script>
<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <div class="form-group">
        <label class="">
            枝番号
        </label>
        <input readonly style="width:auto;" type="text" class="form-control" name="branchCode" id="branchCode"
            placeholder="" maxlength=64 value="<%= forms.branchCode %>">
    </div>

    <%- include('form', { forms: forms, isNew: false }) %>

    <button type="button" class="btn btn-ok btn-primary">更新する</button>
</form>

<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('.json-editor').remove();
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>