<div class="form-group">
    <label for="name[ja]" class="">
        名称<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder="" maxlength=64 value="<%=forms.name.ja
            %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['name.ja']) { %>
        <%- errors['name.ja'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="name[en]" class="">
        English Name<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="name[en]" id="name[en]" placeholder="" maxlength=64
        value="<%= forms.name.en %>">
    <p class=" message">
        半角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['name.en']) { %>
        <%- errors['name.en'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="alternateName[ja]" class="">
        代替名称<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="alternateName[ja]" id="alternateName[ja]" placeholder="" maxlength=64
        value="<%= forms.alternateName.ja %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['alternateName.ja']) { %>
        <%- errors['alternateName.ja'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="itemOffered[name][ja]" class="">
        アイテム名称<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="itemOffered[name][ja]" id="itemOffered[name][ja]" placeholder=""
        maxlength=64 value="<%=forms.itemOffered.name.ja
                %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['itemOffered.name.ja']) { %>
        <%- errors['itemOffered.name.ja'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="itemOffered[name][en]" class="">
        アイテム英語名称<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="itemOffered[name][en]" id="itemOffered[name][en]" placeholder=""
        maxlength=64 value="<%=forms.itemOffered.name.en
                    %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['itemOffered.name.en']) { %>
        <%- errors['itemOffered.name.en'].msg %>
        <% } %>
    </p>
    </p>
</div>

<div class="form-group">
    <label for="price" class="">
        発生金額<span class="text-danger">＊</span>
    </label>
    <input type="text" class="form-control" name="price" id="price" placeholder="" maxlength=10 value="<%=forms.price
            %>">
    <p class="message">
        半角10文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors.price) { %>
        <%- errors.price.msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="seatReservationUnit" class="">
        適用単位<span class="text-danger">＊</span>
    </label>
    <select class="form-control" name="seatReservationUnit">
        <option value="" disabled selected>選択してください</option>
        <% for (let i = 1; i <= 1; i++) { %>
        <option value="<%= i %>" <% if (forms.seatReservationUnit==i) { %> selected <% } %>>
            <%= i %>
        </option>
        <% } %>
    </select>
    <p class="error message text-danger">
        <% if (errors && errors.seatReservationUnit) { %>
        <%- errors.seatReservationUnit.msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="description[ja]" class="">
        補足説明
    </label>
    <input type="text" class="form-control" name="description[ja]" id="description[ja]" placeholder="" maxlength=64
        value="<%=forms.description.ja %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['description.ja']) { %>
        <%- errors['description.ja'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="description[en]" class="">
        補足説明英
    </label>
    <input type="text" class="form-control" name="description[en]" id="description[en]" placeholder="" maxlength=64
        value="<%=forms.description.en %>">
    <p class="message">
        半角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors['description.en']) { %>
        <%- errors['description.en'].msg %>
        <% } %>
    </p>
</div>

<div class="form-group">
    <label for="name" class="">
        追加特性
    </label>
    <% forms.additionalProperty.forEach((_, key) => { %>
    <div class="input-group mb-1">
        <!-- <span class="input-group-addon">Name:Value</span> -->
        <input class="form-control" name="additionalProperty[<%= key %>][name]"
            id="additionalProperty[<%= key %>][name]" placeholder="Name" maxlength=64
            value="<%= forms.additionalProperty[key].name %>">

        <input class="form-control" name="additionalProperty[<%= key %>][value]"
            id="additionalProperty[<%= key %>][value]" placeholder="Value" maxlength=64
            value="<%= forms.additionalProperty[key].value %>">
    </div>
    <% }) %>
    <p class="message"></p>
    <p class="error message text-danger">
    </p>
</div>