<%
const productType = productTypes.find((p) => p.codeValue === forms.itemOffered.typeOf);
const productTypeName = (productType !== undefined) ? productType.name : forms.itemOffered.typeOf;
%>
<%- contentFor('title') %>
<%= productTypeName %>オファー作成
<%- contentFor('displayId') %>
OF-00
<%- contentFor('styles') %>
<link href="/css/bootstrap.colorpickersliders.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/tinycolor-min.js"></script>
<script src="/js/bootstrap.colorpickersliders.js"></script>
<script src="/js/offers/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../common/messages') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>