<%- contentFor('title') %>
オファー編集
<%- contentFor('displayId') %>
OF-02
<%- contentFor('styles') %>
<link href="/css/bootstrap.colorpickersliders.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/tinycolor-min.js"></script>
<script src="/js/bootstrap.colorpickersliders.js"></script>
<script src="/js/master/offers/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../common/messages') %>

    <%- include('form', { forms: forms, isNew: false }) %>
</form>