<div class="modal fade" id="newModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h4 class="modal-title">スケジュール登録</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body">
                        <form class="">
                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="theater">劇場<font color="red">＊</font>
                                    </label>
                                    <select class="form-control" name="theater">
                                        <option value="0" disabled selected> 選択してください</option>
                                        <% if (user.cognitoGroups.movieTheaters === undefined || user.cognitoGroups.movieTheaters.length === 0) { %>
                                        <% for (const movieTheater of movieTheaters) { %>
                                        <option value="<%= movieTheater.id %>"
                                            data-max-seat-number="<%= movieTheater.offers.eligibleQuantity.maxValue %>"
                                            data-sale-start-days="<%= -movieTheater.offers.availabilityStartsGraceTime.value %>"
                                            data-end-sale-time="<%= Math.floor(movieTheater.offers.availabilityEndsGraceTime.value / 60) %>">
                                            <%= movieTheater.name.ja %>
                                        </option>
                                        <% } %>
                                        <% } else { %>
                                        <% for (const movieTheater of user.cognitoGroups.movieTheaters) { %>
                                        <option value="<%= movieTheater.id %>"
                                            data-max-seat-number="<%= movieTheater.offers.eligibleQuantity.maxValue %>"
                                            data-sale-start-days="<%= -movieTheater.offers.availabilityStartsGraceTime.value %>"
                                            data-end-sale-time="<%= Math.floor(movieTheater.offers.availabilityEndsGraceTime.value / 60) %>">
                                            <%= movieTheater.name.ja %>
                                        </option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="screen">作品
                                        <span class="text-danger">＊</span></label>
                                    <select class="form-control" name="screeningEventSeriesId">
                                        <option value="">劇場を選択してください</option>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="screen">スクリーン
                                        <span class="text-danger">＊</span></label>
                                    <select class="form-control" name="screen">
                                        <option value="">劇場を選択してください</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-6">
                                    <label class="bmd-label-static">登録期間<span class="text-danger">＊</span></label>
                                    <div class="input-group">
                                        <input class="form-control datepicker" name="screeningDateStart"
                                            placeholder="YYYY/MM/DD" maxlength=10>
                                        <div class="input-group-append">
                                            <span class="input-group-text">から</span>
                                        </div>
                                        <input class="form-control datepicker" name="screeningDateThrough"
                                            placeholder="YYYY/MM/DD" maxlength=10>
                                        <div class="input-group-append">
                                            <span class="input-group-text">まで</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group col-md-6">
                                    <label class="bmd-label-static">曜日 <span class="text-danger">＊</span></label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="1" name="weekDay" checked>月
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="2" name="weekDay" checked>火
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="3" name="weekDay" checked>水
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="4" name="weekDay" checked>木
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="5" name="weekDay" checked>金
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="6" name="weekDay" checked>土
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"><input class="form-check-input" type="checkbox"
                                                value="0" name="weekDay" checked>日
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-6">
                                    <label class="bmd-label-static" for="saleStartDate">販売開始日</label>
                                    <div class="checkbox-radios">
                                        <div class="form-check form-check-radio form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="saleStartDateType"
                                                    id="inlineRadio1" value="default" checked>劇場設定に従う
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-radio form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="saleStartDateType"
                                                    id="inlineRadio1" value="absolute">絶対
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check form-check-radio form-check-inline">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="saleStartDateType"
                                                    id="inlineRadio1" value="relative">相対
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-inline d-none input-type" data-input-type="absolute">
                                        <input class="form-control datepicker" name="saleStartDateAbsolute"
                                            placeholder="YYYY/MM/DD" maxlength=10>&nbsp;&nbsp;
                                        <%- include('../../common/part/_timeSelector', {
                                            name: 'saleStartTime'
                                        }) %>
                                    </div>
                                    <div class="form-inline d-none input-type" data-input-type="relative">
                                        <input type="text" class="form-control" name="saleStartDateRelative"
                                            placeholder="上映日からn日" maxlength=10>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group col-md-3">
                                    <label class="bmd-label-static" for="onlineDisplayStartDate">オンライン表示開始日</label>
                                    <div class="form-check form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="onlineDisplayType"
                                                id="inlineRadio1" value="absolute" checked>絶対
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="radio" name="onlineDisplayType"
                                                id="inlineRadio1" value="relative">相対
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="form-inline input-type" data-input-type="absolute">
                                        <input type="text" class="form-control datepicker"
                                            name="onlineDisplayStartDateAbsolute" placeholder="YYYY/MM/DD" maxlength=10>
                                    </div>
                                    <div class="form-inline d-none input-type" data-input-type="relative">
                                        <input type="text" class="form-control" name="onlineDisplayStartDateRelative"
                                            placeholder="上映日からn日" maxlength=10>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group col-md-3">
                                    <label class="bmd-label-static">座席指定</label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="1"
                                                name="reservedSeatsAvailable" checked>座席指定あり
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="scroll-horizontal table-responsible">
                                <table class="table">
                                    <thead>
                                        <th>No</th>
                                        <th>開場</th>
                                        <th>開始</th>
                                        <th>終了時刻</th>
                                        <th>券種グループ</th>
                                        <th class="mvtk text-center">ムビチケ対象外</th>
                                    </thead>
                                    <tbody>
                                        <% for (let i = 1; i <= 6; i++) { %>
                                        <tr>
                                            <td>
                                                <%= i %>
                                            </td>
                                            <td width="80">
                                                <%- include('../../common/part/_timeSelector', {
                                                    name: 'doorTime'
                                                }) %>
                                            </td>
                                            <td width="80">
                                                <%- include('../../common/part/_timeSelector', {
                                                    name: 'startTime'
                                                }) %>
                                            </td>
                                            <td width="80">
                                                <%- include('../../common/part/_timeSelector', {
                                                    name: 'endTime'
                                                }) %>
                                            </td>
                                            <td>
                                                <select class="form-control" name="ticketTypeGroup">
                                                    <option value="" disabled selected>選択してください</option>
                                                    <% for (ticketType of ticketGroups) { %>
                                                    <option value="<%= ticketType.id %>">
                                                        <%= ticketType.name.ja %>
                                                    </option>
                                                    <% } %>
                                                </select>
                                            </td>
                                            <td class="mvtk text-center">
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label"><input class="form-check-input"
                                                            type="checkbox" name="mvtkExcludeFlg">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span></label>
                                                </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <input type="hidden" name="maxSeatNumber" value="">
            <input type="hidden" name="saleStartDays" value="">
            <div class="modal-footer">
                <button type="button" class="btn bg-dark-gray text-white" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary regist-button">登録</button>
            </div>
        </div>
    </div>
</div>