<%- contentFor('title') %>
スケジュール詳細
<%- contentFor('displayId') %>
SE-02
<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/lodash.debounce.min.js"></script>
<script src="/js/events/screeningEvent.js"></script>

<%- contentFor('body') %>

<div class="row">
    <div class="col-md-8">
        <div class="card card-plain">
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#remainingAttendeeCapacity"
                            data-toggle="tab" role="tablist">残席数遷移</a></li>
                    <li class="nav-item"><a class="nav-link" href="#orders" data-toggle="tab" role="tablist">注文履歴</a></li>
                    <li class="nav-item"><a class="nav-link" href="#aggregateOffer" data-toggle="tab" role="tablist">オファー集計</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#aggregateReservation"
                            data-toggle="tab" role="tablist">予約集計</a></li>
                    <li class="nav-item"><a class="nav-link" href="#jsonViewer" data-toggle="tab" role="tablist">JSON
                            Viewer</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab" role="tablist">Settings</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="active show tab-pane" id="remainingAttendeeCapacity">
                        <div class="card card-plain bg-gradient-dark">
                            <div class="card-header border-0">
                                <h3 class="card-title">
                                </h3>

                                <div class="card-tools">
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- <div class="chart" id="remainingAttendeeCapacityChart2" style="height: 400px;">
                                    searching...</div> -->
                                <canvas class="chart" id="remainingAttendeeCapacityChart2"
                                    style="min-height: 400px; height: 400px; max-height: 400px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="tab-pane" id="orders">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Order Date</th>
                                        <th>Item</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>

                    <div class="tab-pane" id="aggregateOffer">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Identifier</th>
                                        <th>Name</th>
                                        <th>Capacity</th>
                                        <th>Reservation / CheckIn / Attendee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>

                    <div class="tab-pane" id="aggregateReservation">
                    </div>

                    <div class="tab-pane" id="jsonViewer">
                        <div class="form-group bmd-form-group col-md-12">
                            <textarea class="form-control" rows="40" placeholder=""
                                disabled=""><%= JSON.stringify(event, null, '\t') %></textarea>
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                        <!-- form start -->
                        <form role="form" method="post">
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-body">
                <h6 class="card-category text-gray"><%= event.superEvent.workPerformed.name %></h6>
                <h4 class="card-title"><%= event.name.ja %></h4>
                <p class="card-description">
                    <%= event.name.en %>
                </p>
                <!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
            </div>
        </div>
    </div>
</div>