<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">スケジュール編集</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body">
                        <form>
                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4 film">
                                    <label class="bmd-label-static" for="doorTime">作品</label>
                                    <input class="form-control" disabled type="text">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4 theater">
                                    <label class="bmd-label-static" for="startTime">施設</label>
                                    <input class="form-control" disabled type="text">
                                </div>
                                <div class="form-group bmd-form-group col-md-4 screen">
                                    <label class="bmd-label-static" for="screen">ルーム</label>
                                    <input class="form-control" disabled type="text">
                                    <!-- <select class="form-control" name="screen"></select> -->
                                </div>
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="maximumAttendeeCapacity">キャパシティ
                                        <a href="#" data-toggle="tooltip"
                                            title="<p class=&quot;text-left mb-0&quot;>最大収容人数を設定します。<br>座席有の場合、デフォルトでルーム座席数に従い、それより大きい値設定は無視されます。</p>"
                                            style="pointer-events: auto;">
                                            <span class="material-icons" style="font-size: 1.2em;">
                                                help
                                            </span>
                                        </a>
                                    </label>
                                    <input class="form-control" type="number" name="maximumAttendeeCapacity"
                                        maxlength=10>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4 day">
                                    <label class="bmd-label-static" for="">開始日</label>
                                    <input class="form-control" disabled type="text">
                                </div>
                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static" for="doorTime">開場時刻</label>
                                    <%- include('../../common/part/_timeSelector', {
                                        name: 'doorTime'
                                    }) %>
                                </div>
                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static" for="startTime">開始時刻</label>
                                    <%- include('../../common/part/_timeSelector', {
                                        name: 'startTime'
                                    }) %>
                                </div>
                                <div class="form-group bmd-form-group col-md-4">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4 day">
                                    <label class="bmd-label-static" for="endDay">終了日</label>
                                    <input class="form-control datepicker" name="endDay" placeholder="YYYY/MM/DD"
                                        maxlength=10>
                                </div>
                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static" for="endTime">終了時刻</label>
                                    <%- include('../../common/part/_timeSelector', {
                                        name: 'endTime'
                                    }) %>
                                </div>
                                <div class="form-group bmd-form-group col-md-2">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="seller">販売者</label>
                                    <select class="form-control" name="seller">
                                        <% for (seller of sellers) { %>
                                        <option value="<%= seller.id %>"><%= seller.name.ja %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="ticketTypeGroup">カタログ</label>
                                    <select class="form-control" name="ticketTypeGroup">
                                        <option value="">選択してください</option>
                                        <% for (ticketType of ticketGroups) { %>
                                        <option value="<%= ticketType.id %>">
                                            <%= ticketType.name.ja %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static" for="maxSeatNumber">上限枚数</label>
                                    <input class="form-control" type="number" name="maxSeatNumber" maxlength=10>
                                </div>

                                <% if (req.subscription.settings.useSeats) { %>
                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static">座席有無
                                    </label>
                                    <div class="form-check">
                                        <input type="hidden" value="1" name="reservedSeatsAvailable">
                                        <label class="form-check-label" for="reservedSeatsAvailable">
                                            <input disabled class="form-check-input" type="checkbox"
                                                name="reservedSeatsAvailableDisabled" value="1"
                                                id="reservedSeatsAvailableDisabled">
                                            座席有
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <% } %>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="saleStartDate">販売開始日時</label>
                                    <div class="input-group">
                                        <input class="form-control datepicker" name="saleStartDate"
                                            placeholder="YYYY/MM/DD" maxlength=10>&nbsp;&nbsp;
                                        <%- include('../../common/part/_timeSelector', {
                                            name: 'saleStartTime',
                                            hourName: 'saleStartDateHour',
                                            minuteName: 'saleStartDateMinutes'
                                        }) %>
                                    </div>
                                </div>
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="onlineDisplayStartDate">オンライン表示開始日時</label>
                                    <div class="input-group">
                                        <input class="form-control datepicker" name="onlineDisplayStartDate"
                                            placeholder="YYYY/MM/DD" maxlength=10>&nbsp;&nbsp;
                                        <input name="onlineDisplayStartTime" type="text" class="form-control timepicker"
                                            autocomplete="off" placeholder="HH:mm">
                                    </div>
                                </div>
                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static" for="mvtkExcludeFlg">ムビチケ
                                    </label>
                                    <div class="form-check">
                                        <label class="form-check-label" for="mvtkExcludeFlg">
                                            <input class="form-check-input" type="checkbox" name="mvtkExcludeFlg"
                                                value="1" id="mvtkExcludeFlg">
                                            ムビチケ対象外
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-12">
                                    <label class="bmd-label-static">追加特性</label>
                                    <a class="d-block pt-1" data-toggle="collapse" href="#editAdditionalProperty"
                                        role="button" aria-expanded="false" aria-controls="editAdditionalProperty">
                                        表示する
                                    </a>
                                    <div id="editAdditionalProperty" class="collapse">
                                        <div class="form-check">
                                            <% for (let i=0; i < 10; i++) { %>
                                            <div class="row mb-1 px-3">
                                                <!-- <span class="input-group-addon">Name:Value</span> -->
                                                <div class="form-group bmd-form-group col-6">
                                                    <!-- <label class="bmd-label-floating">name</label> -->
                                                    <input class="form-control"
                                                        name="additionalProperty[<%= i %>][name]"
                                                        id="additionalProperty[<%= i %>][name]" maxlength=64 value="">
                                                </div>
                                                <div class="form-group bmd-form-group col-6">
                                                    <!-- <label class="bmd-label-floating">value</label> -->
                                                    <input class="form-control"
                                                        name="additionalProperty[<%= i %>][value]"
                                                        id="additionalProperty[<%= i %>][value]" maxlength=64 value="">
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <input type="hidden" name="screeningEventId" value="">
            <input type="hidden" name="performance" value="">
            <input type="hidden" name="film" value="">
            <input type="hidden" name="theater" value="">
            <input type="hidden" name="screen" value="">
            <input type="hidden" name="day" value="">

            <div class="modal-footer">
                <button type="button" class="btn btn-primary update-button">
                    <i class="material-icons">save</i> 保存</button>
                <button type="button" class="btn btn-danger delete-button">
                    <i class="material-icons">cancel</i> キャンセル</button>
                <button type="button" class="btn bg-dark-gray text-white" data-dismiss="modal">閉じる</button>

            </div>
        </div>
    </div>
</div>