<%- contentFor('title') %>
スケジュール検索
<%- contentFor('displayId') %>
Aa-4
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/lodash.debounce.min.js"></script>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/events/screeningEvent.js"></script>

<%- contentFor('body') %>

<div class="card">
    <div class="card-body search">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <button type="button" class="btn btn-primary add-button"><i class="material-icons">add</i> 登録</button>
            <% if (process.env.USE_COA === '1') { %>
            <a class="btn btn-primary importFromCOA" role="button" href="javascript:void(0)">
                <i class="material-icons">add</i>COAからインポート</a>
            <% } %>
            <a class="btn btn-primary search btn-ok search-button" href="#">
                <i class="material-icons">refresh</i> 更新</a>
        </div>

        <div class="material-datatables">
            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <%- include('../../common/master/_hidden') %>

                            <div class="form-row">
                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static">劇場 <span class="text-danger">＊</span></label>

                                    <div class="input-group">
                                        <select class="form-control" name="theater">
                                            <% if (user.cognitoGroups.movieTheaters === undefined || user.cognitoGroups.movieTheaters.length === 0) { %>
                                            <% movieTheaters.forEach(function (movieTheater, index) { %>
                                            <option value="<%= movieTheater.id %>"><%= movieTheater.name.ja %></option>
                                            <% }) %>
                                            <% } else { %>
                                            <% user.cognitoGroups.movieTheaters.forEach(function (movieTheater, index) { %>
                                            <option value="<%= movieTheater.id %>"><%= movieTheater.name.ja %></option>
                                            <% }) %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group bmd-form-group col-md-2">
                                    <label class="bmd-label-static">スクリーン</label>
                                    <select class="form-control" name="screen">
                                        <option value="">劇場を選択してください</option>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-2">
                                    <label for="superEvent[workPerformed][identifier]" class="bmd-label-static">
                                        作品
                                    </label>
                                    <select class="form-control" name="superEvent[workPerformed][identifier]"
                                        id="superEvent[workPerformed][identifier]" style="width: 100%;">
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-1">
                                    <label class="bmd-label-static">上映日 <span class="text-danger">＊</span></label>

                                    <input autocomplete="off" class="form-control datepicker" name="date"
                                        placeholder="選択してください" maxlength="10">
                                </div>

                                <div class="form-group bmd-form-group col-md-1">
                                    <label class="bmd-label-static">表示形式</label>

                                    <select class="form-control" name="format">
                                        <option value="1">1日</option>
                                        <option value="3">3日</option>
                                        <option value="7">7日</option>
                                        <option value="table">テーブル</option>
                                    </select>
                                </div>

                                <div class="form-group bmd-form-group col-md-4">
                                    <label class="bmd-label-static"></label>

                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="onlyReservedSeatsAvailable">
                                            <input class="form-check-input" type="checkbox"
                                                name="onlyReservedSeatsAvailable" id="onlyReservedSeatsAvailable"
                                                value="1">
                                            座席有のみ
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="offersAvailable">
                                            <input class="form-check-input" type="checkbox" name="offersAvailable"
                                                id="offersAvailable" value="1">
                                            公開中
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="offersValid">
                                            <input class="form-check-input" type="checkbox" name="offersValid"
                                                id="offersValid" value="1">
                                            販売中
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label" for="onlyEventScheduled">
                                            <input class="form-check-input" type="checkbox" name="onlyEventScheduled"
                                                id="onlyEventScheduled" value="1" checked>
                                            キャンセル除外
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="list" style="display:none;" class="row">
                    <div class="col-sm-12 table-responsive">
                        <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline"
                            cellspacing="0" width="100%" style="width: 100%;" role="grid"
                            aria-describedby="datatables_info">
                            <thead class="text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>ステータス</th>
                                    <th>作品</th>
                                    <th>劇場</th>
                                    <th>場所</th>
                                    <th>開始</th>
                                    <th>終了</th>
                                    <th>キャパシティ</th>
                                    <th>予約</th>
                                    <th>発券</th>
                                    <th>入場</th>
                                    <th>カタログ</th>
                                    <th>オファー</th>
                                    <th>追加特性</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="templateRow" eventId="$id$">
                                    <td name="id__id">
                                        <a href="javascript:void(0)" class="showPerformance" data-id="$id$">
                                            $id$
                                        </a>
                                    </td>
                                    <td name="eventStatus">$eventStatus$</td>
                                    <td name="superEvent.id__superEvent.name.ja|slice">
                                        <a target="_blank"
                                            href="/events/screeningEventSeries/$superEvent.id$/update">$superEvent.name.ja$
                                            <i class="material-icons" style="font-size: 1.2em;">open_in_new</i></a>
                                    </td>
                                    <td name="superEvent.location.branchCode">
                                        $superEvent.location.branchCode$
                                    </td>
                                    <td name="location.name.ja|slice">
                                        $location.name.ja$
                                    </td>
                                    <td name="startDate|date:YY/MM/DD HH:mm">$startDate$</td>
                                    <td name="endDate|date:YY/MM/DD HH:mm">$endDate$</td>
                                    <td name="remainingAttendeeCapacity__maximumAttendeeCapacity">
                                        $remainingAttendeeCapacity$ / $maximumAttendeeCapacity$</td>
                                    <td
                                        name="aggregateReservation.aggregateDate|date:YYYY/MM/DD HH:mm:ss__aggregateReservation.reservationCount">
                                        <a href="#" data-toggle="tooltip"
                                            title="集計日時:$aggregateReservation.aggregateDate$">$aggregateReservation.reservationCount$</a>
                                    </td>
                                    <td
                                        name="aggregateReservation.aggregateDate|date:YYYY/MM/DD HH:mm:ss__aggregateReservation.checkInCount">
                                        <a href="#" data-toggle="tooltip"
                                            title="集計日時:$aggregateReservation.aggregateDate$">$aggregateReservation.checkInCount$</a>
                                    </td>
                                    <td
                                        name="aggregateReservation.aggregateDate|date:YYYY/MM/DD HH:mm:ss__aggregateReservation.attendeeCount">
                                        <a href="#" data-toggle="tooltip"
                                            title="集計日時:$aggregateReservation.aggregateDate$">$aggregateReservation.attendeeCount$</a>
                                    </td>
                                    <td name="offers.id__offers.id">
                                        <a href="/offerCatalogs/$offers.id$/update" target="_blank">
                                            $offers.id$
                                            <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                        </a>
                                    </td>
                                    <td name="id__offers">
                                        <a href="javascript:void(0)" class="showOffers" data-id="$id$">
                                            <span>表示</span>
                                        </a>
                                    </td>
                                    <td name="id__additionalProperty">
                                        <a href="javascript:void(0)" class="showAdditionalProperty" data-id="$id$">
                                            <span>表示</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                        </div>
                        <div id="pager" class="div_pager_parent float-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-event" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('show') %>
</div>

<div id="scheduler" class="d-none">
    <div v-if="scheduleData.dates.length > 0" class="scheduler text-small">
        <div class="table-header">
            <table class="border">
                <thead class="header">
                    <tr class="border text-center">
                        <td v-bind:style="{ width: TIME_WIDTH + 'px' }" class="border" rowspan="2">時間</td>
                        <td v-for="date in scheduleData.dates" class="border" v-bind:colspan="date.screens.length">
                            {{ moment(date.data).format('MM/DD') }}</td>
                    </tr>
                    <template v-for="date in scheduleData.dates">
                        <td v-for="screen in date.screens" class="border text-center"
                            v-bind:style="{ width: SCREEN_WIDTH + 'px' }">
                            <div class="mx-auto text-overflow" v-bind:style="{ width: (SCREEN_WIDTH - 3) + 'px' }">
                                {{ screen.data.name.ja }}</div>
                        </td>
                    </template>
                </thead>
            </table>
        </div>
        <div class="scrollable-body">
            <table class="border">
                <tbody>
                    <tr>
                        <td class="text-center border" v-bind:style="{ width: TIME_WIDTH + 'px' }">
                            <div v-for="time in times" v-bind:style="{ height: HOUR_HEIGHT + 'px' }"
                                class="border-bottom">
                                {{ time }}</div>
                        </td>
                        <template v-for="date in scheduleData.dates">
                            <td v-for="screen in date.screens" class="screen border-right border-left"
                                v-bind:style="{ width: SCREEN_WIDTH + 'px' }">
                                <div v-for="time in times" v-bind:style="{ height: HOUR_HEIGHT + 'px' }"
                                    class="border-bottom w-100"></div>
                                <div v-for="performance in screen.performances"
                                    class="performance w-100 overflow-hidden px-1"
                                    v-on:click="showPerformance(performance)"
                                    v-bind:style="getPerformanceStyle(performance, date).parent">
                                    <div v-bind:class="{ 
                                    'bg-danger': getOverlapPerformanceCount(performance, screen.performances) > 0,
                                    'bg-primary': !getAdditionalProperty(performance.superEvent.additionalProperty, 'color') && getOverlapPerformanceCount(performance, screen.performances) === 0
                                    }" v-bind:style="getPerformanceStyle(performance, date).child"
                                        class="inner h-100 p-1 pointer border border-white overflow-hidden">
                                        <div class="overflow-hidden mw-100 text-x-small text-white">
                                            {{ performance.superEvent.name.ja }}
                                        </div>
                                        <div class="overflow-hidden mw-100 text-x-small text-white">
                                            {{ performance.offers.name.ja }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('add') %>
<%- include('edit') %>
<%- include('../../common/master/_loading') %>