<%- contentFor('title') %>
パフォーマンス検索
<%- contentFor('displayId') %>
Aa-4
<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/js/lodash.debounce.min.js"></script>
<script src="/js/master/events/screeningEvent.js"></script>

<%- contentFor('body') %>

<div class="form-container search p-3 bg-light-gray mb-4">
    <form>
        <div class="form-group">
            <label class="">劇場 <span class="text-danger">＊</span></label>

            <div class="input-group">
                <select class="form-control" name="theater">
                    <% if (user.cognitoGroups.movieTheaters === undefined) { %>
                    <option value="">選択してください</option>
                    <% for (const movieTheater of movieTheaters) { %>
                    <option value="<%= movieTheater.branchCode %>"><%= movieTheater.name.ja %></option>
                    <% } %>
                    <% } else { %>
                    <% for (const movieTheater of user.cognitoGroups.movieTheaters) { %>
                    <option value="<%= movieTheater.branchCode %>"><%= movieTheater.name.ja %></option>
                    <% } %>
                    <% } %>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="">上映日 <span class="text-danger">＊</span></label>

            <div class="row">
                <div class="col-md-6">
                    <input autocomplete="off" class="form-control datepicker" name="date" placeholder="選択してください"
                        maxlength="10">
                </div>

                <div class="col-md-6">
                    <div class="form-check form-check-radio form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="days" id="radio-days-1" value="1"
                                checked> 1日
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="days" id="radio-days-3" value="3"> 3日
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check form-check-radio form-check-inline disabled">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="days" id="radio-days-7" value="7"> 7日
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="">シアター</label>
            <select class="form-control" name="screen">
                <option value="">劇場を選択してください</option>
            </select>
        </div>

        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label" for="onlyReservedSeatsAvailable">
                    <input class="form-check-input" type="checkbox" name="onlyReservedSeatsAvailable"
                        id="onlyReservedSeatsAvailable" value="1">
                    座席指定有のみ
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        </div>

        <div class="panel-body">
            <button type="button" class="btn btn-primary add-button"><i class=" fa fa-plus"></i> 登録</button>
            <a class="btn btn-primary importFromCOA" role="button" href="javascript:void(0)">
                <i class=" fa fa-plus"></i> COAからインポート</a>

            <button type="button" class="btn search btn-ok btn-success search-button float-right">検索</button>
        </div>
    </form>
</div>


<div id="scheduler" class="d-none">
    <div v-if="scheduleData.dates.length > 0" class="scheduler text-small">
        <div class="table-header">
            <table class="border">
                <thead class="header">
                    <tr class="border text-center">
                        <td v-bind:style="{ width: TIME_WIDTH + 'px' }" class="border" rowspan="2">時間</td>
                        <td v-for="date in scheduleData.dates" class="border" colspan="9">
                            {{ moment(date.data).format('MM/DD') }}</td>
                    </tr>
                    <template v-for="date in scheduleData.dates">
                        <td v-for="screen in date.screens" class="border text-center"
                            v-bind:style="{ minWidth: SCREEN_WIDTH + 'px' }">{{ screen.data.name.ja }}</td>
                    </template>
                </thead>
            </table>
        </div>
        <div class="scrollable-body">
            <table class="border">
                <tbody>
                    <tr>
                        <td class="text-center border" v-bind:style="{ width: TIME_WIDTH + 'px' }">
                            <div v-for="time in times" v-bind:style="{ height: HOUR_HEIGHT + 'px' }" class="border-bottom">
                                {{ time }}</div>
                        </td>
                        <template v-for="date in scheduleData.dates">
                            <td v-for="screen in date.screens" class="screen border-right border-left"
                                v-bind:style="{ minWidth: SCREEN_WIDTH + 'px' }">
                                <div v-for="time in times" v-bind:style="{ height: HOUR_HEIGHT + 'px' }"
                                    class="border-bottom w-100"></div>
                                <div v-for="performance in screen.performances" class="performance w-100 overflow-hidden px-1"
                                    v-on:click="editPerformance(performance)"
                                    v-bind:style="getPerformanceStyle(performance)">
                                    <div v-bind:class="{ 
                                    'bg-danger': getOverlapPerformanceCount(performance, screen.performances) > 0,
                                    'bg-primary': getOverlapPerformanceCount(performance, screen.performances) === 0
                                    }" class="inner h-100 p-1 rounded pointer border border-white">
                                        <div class="overflow-hidden nowrap mw-100 text-x-small text-white">
                                            {{ performance.name.ja }}
                                        </div>
                                        <div class="overflow-hidden">
                                            <a class="badge badge-info mw-100" target="_blank"
                                                v-bind:href="'/ticketTypeGroups/' + performance.offers.id + '/update'">
                                                {{ performance.offers.name.ja }}
                                            </a>
                                        </div>
                                        <div>
                                            <span v-if="isReservedSeatsAvailable(performance)"
                                                class="badge badge-success">
                                                座席指定</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('add') %>
<%- include('edit') %>
<%- include('../../common/master/_loading') %>