<%- contentFor('title') %>
劇場上映作品登録
<%- contentFor('displayId') %>
Aa-2
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/events/screeningEventSeries/form.js"></script>

<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post" id="movie_product">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <% /* 登録・更新共通部 */ %>
    <%- include('form', { forms: forms }) %>
</form>