<%- contentFor('title') %>
施設コンテンツ編集
<%- contentFor('displayId') %>
Aa-2
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/events/screeningEventSeries/form.js"></script>

<%- contentFor('body') %>
<form method="post" id="movie_product">
    <input type="hidden" name="id" value="<%= forms.id %>">
    <%- include('../../common/messages') %>

    <%- include('form', { forms: forms }) %>
</form>