<div class="card">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    追加特性
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="locationId" class="bmd-label-static">
                            施設<span class="text-danger">＊</span>
                        </label>
                        <select class="form-control" name="locationId">
                            <option value="">選択してください</option>
                            <% if (user.cognitoGroups.movieTheaters === undefined || user.cognitoGroups.movieTheaters.length === 0) { %>
                            <% for (const movieTheater of movieTheaters) { %>
                            <option value="<%= movieTheater.id %>" <% if (forms.locationId === movieTheater.id) {
                                        %> selected <% } %>>
                                <%= movieTheater.name.ja %>
                            </option>
                            <% } %>
                            <% } else { %>
                            <% for (const movieTheater of user.cognitoGroups.movieTheaters) { %>
                            <option value="<%= movieTheater.id %>"><%= movieTheater.name.ja %></option>
                            <% } %>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="workPerformed[identifier]" class="bmd-label-static">
                            コンテンツ<span class="text-danger">＊</span>
                        </label>
                        <% if (movie !== undefined) { %>
                        <textarea class="d-none" name="movie"><%= JSON.stringify(movie, null, '\t') %></textarea>
                        <% } %>
                        <select class="form-control" name="workPerformed[identifier]" id="workPerformed[identifier]"
                            style="width: 100%;">
                            <% if (movie !== undefined) { %>
                            <option value="<%= movie.identifier %>" selected="selected"><%= movie.name %></option>
                            <% } %>
                        </select>
                        <% if (errors && errors['workPerformed.identifier']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['workPerformed.identifier'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="nameJa" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input class="form-control" name="nameJa" id="nameJa" placeholder="" maxlength=64
                            value="<%= forms.nameJa %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors.nameJa) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.nameJa.msg %>
                        </span>
                        <% } %>
                    </div>
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="nameEn" class="bmd-label-static">
                            名称英
                        </label>
                        <input class="form-control" name="nameEn" id="nameEn" placeholder="" maxlength=128
                            value="<%- forms.nameEn %>">
                        <span class="bmd-help">半角128文字以内でご入力ください</span>
                        <% if (errors && errors.nameEn) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.nameEn.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="kanaName" class="bmd-label-static">
                            名称カナ
                        </label>
                        <input class="form-control" name="kanaName" id="kanaName" placeholder="" maxlength=64
                            value="<%= forms.kanaName %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors.kanaName) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.kanaName.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="headline[ja]" class="bmd-label-static">
                            サブタイトル
                        </label>
                        <input class="form-control" name="headline[ja]" id="headline[ja]" placeholder="" maxlength=64
                            value="<%- forms.headline.ja %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors['headline.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['headline.ja'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-2">
                        <label for="startDate" class="bmd-label-static">
                            開始日<span class="text-danger">＊</span>
                        </label>
                        <input autocomplete="off" class="form-control datepicker" name="startDate" id="startDate"
                            placeholder="" maxlength=10 value="<%= forms.startDate %>">
                        <% if (errors && errors.startDate) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.startDate.msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label for="endDate" class="bmd-label-static">
                            終了日<span class="text-danger">＊</span>
                        </label>
                        <input autocomplete="off" class="form-control datepicker" name="endDate" id="endDate"
                            placeholder="" maxlength=10 value="<%= forms.endDate %>">
                        <% if (errors && errors.endDate) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.endDate.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-2">
                        <label for="contentRating" class="bmd-label-static">
                            レイティング<span class="text-danger">＊</span>
                        </label>
                        <select name="contentRating" id="contentRating" class="form-control" disabled>
                            <option value="">なし</option>
                            <% for (let rating of contentRatingTypes) { %>
                            <option value="<%= rating.codeValue %>"
                                <% if (forms.workPerformed.contentRating === rating.codeValue) { %> selected="selected"
                                <% } %>>
                                <%- rating.name.ja %>
                            </option>
                            <% } %>
                        </select>
                        <% if (errors && errors.contentRating) { %>
                        <p class="text-danger">
                            <%- errors.contentRating.msg %>
                        </p>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label for="translationType" class="bmd-label-static">
                            字幕/吹替
                        </label>
                        <%
                                let subtitles = [
                                    {code: '0', name: {ja: '字幕', en:'subtitle'}},
                                    {code: '1', name: {ja: '吹替', en:'dubbing'}}
                                ];
                            %>
                        <select name="translationType" id="translationType" class="form-control">
                            <option value="">---</option>
                            <% for (let subtitle of subtitles) { %>
                            <option value="<%= subtitle.code %>" <% if (forms.translationType===subtitle.code) { %>
                                selected="selected" <% } %>>
                                <%- subtitle.name.ja %>
                            </option>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group bmd-form-group col-md-8">
                        <label for="description" class="bmd-label-static">
                            補足説明
                        </label>
                        <input class="form-control" name="description" id="description" placeholder="" maxlength=30
                            value="<% if (forms.description !== undefined && forms.description.ja) { %> <%- forms.description.ja %> <% } %>">
                        <span class="bmd-help">全角30文字以内でご入力ください</span>
                        <% if (errors && errors.description) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.description.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="videoFormatType[]" class="bmd-label-static">
                            上映方式
                        </label>

                        <% videoFormatTypes.forEach((videoFormatType, key) => { %>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" id="videoFormatType[]<%= key %>"
                                    name="videoFormatType[]" value="<%= videoFormatType.codeValue %>" <% if
                                        (forms.videoFormatType.indexOf(videoFormatType.codeValue)>= 0) { %>
                                    checked="checked" <% } %>>
                                <%= videoFormatType.name.ja %>
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <% }) %>

                        <% if (errors && errors.videoFormatType) { %>
                        <p class="text-danger">
                            <%- errors.videoFormatType.msg %>
                        </p>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <%
                    let movieTicketPaymentServices = [];
                    if (Array.isArray(paymentServices)) {
                        movieTicketPaymentServices = paymentServices.filter((s) => s.typeOf === 'MovieTicket');
                    }
                    %>
                    <% if (movieTicketPaymentServices.length > 0) { %>
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="unacceptedPaymentMethod" class="bmd-label-static">
                            利用不可決済方法
                            <a href="javascript:void(0);" data-toggle="tooltip"
                                title="<p class=&quot;text-left mb-0&quot;>決済方法を利用不可に設定すると、その決済方法に適用されるオファーが利用できなくなります。</p>"
                                style="pointer-events: auto;">
                                <span class="material-icons" style="font-size: 1.2em;">
                                    help
                                </span>
                            </a>
                        </label>

                        <% movieTicketPaymentServices.forEach((s) => { %>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <%
                                let unaccepted = forms.offers !== undefined
                                    && forms.offers !== null
                                    && Array.isArray(forms.offers.unacceptedPaymentMethod)
                                    && forms.offers.unacceptedPaymentMethod.indexOf(s.serviceOutput.typeOf) >= 0;
                                %>
                                <input class="form-check-input" type="checkbox" <% if (unaccepted) { %>
                                    checked="checked" <% } %> value="<%= s.serviceOutput.typeOf %>"
                                    name="unacceptedPaymentMethod"><%= s.name.ja %>決済を許可しない
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                        <% })%>
                    </div>
                    <% } %>
                </div>

            </div>
            <div class="tab-pane" id="link2">
                <%- include('../../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>
        </div>
    </div>
</div>
<!-- end card -->