<%- contentFor('title') %>
作品マスタ一覧
<%- contentFor('displayId') %>
Aa-3
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/events/screeningEventSeriesList.js"></script>

<%- contentFor('body') %>

<div class="form-container mb-3">
    <form method="post" class="p-3 bg-light-gray">
        <%- include('../../common/master/_hidden') %>

        <div class="menu-group">
        </div>

        <div class="form-group row">
            <label for="locationBranchCode" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                劇場
            </label>
            <div class="col-md-8">
                <select class="form-control" name="locationBranchCode">
                    <option value="">選択してください</option>
                    <% for (const movieTheater of movieTheaters) { %>
                    <option value="<%= movieTheater.branchCode %>">
                        <%= movieTheater.name.ja %>
                    </option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="movieIdentifier" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                作品コード
            </label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="movieIdentifier" id="movieIdentifier" placeholder=""
                    maxlength=64 value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                上映作品名
            </label>
            <div class="col-md-8">
                <input class="form-control" name="name" id="name" placeholder="" maxlength=64 value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
            </label>
            <div class="col-md-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="containsEnded" value="1" id="containsEnded">
                    <label class="form-check-label" for="containsEnded">
                        終了作品を含む
                    </label>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <button type="button" class="btn btn-ok search btn-primary">検索する</button>
            <button type="button" class="reset-condition btn btn-danger">検索内容リセット</button>
        </div>
    </form>
</div>

<div class="form-container search">
    <p class="mb-3" id="searchedCount" style="display:none;">
        検索結果 $searched_count$件
    </p>
    <div id="list" class="scroll-horizontal text-small mb-3" style="display:none;">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>劇場</th>
                    <th>作品</th>
                    <th class="text-left">名称<br>English Name<br>サブタイトル<br>カナ</th>
                    <th>上映開始日<br>上映終了日</th>
                    <th>字幕<br>吹替</th>
                    <th>上映形態</th>
                    <th>対応決済方法</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="templateRow" eventId="$id$">
                    <td name="location.branchCode__location.branchCode__location.name.ja">
                        <a target="_blank"
                            href="/places/movieTheater/$location.branchCode$/update">$location.branchCode$<br>$location.name.ja$</a>
                    </td>
                    <td name="workPerformed.identifier__workPerformed.identifier__workPerformed.name">
                        <a target="_blank"
                            href="/creativeWorks/movie/$workPerformed.identifier$/update">$workPerformed.identifier$<br>$workPerformed.name$</a>
                    </td>
                    <td name="name.ja__name.en__headline.ja__kanaName">
                        $name.ja$<br>
                        $name.en$<br>
                        $headline.ja$<br>
                        $kanaName$<br>
                    </td>
                    <td name="startDay__endDay">$startDay$<br>$endDay$</td>
                    <td name="subtitleLanguage__dubLanguage">$subtitleLanguage$<br>$dubLanguage$</td>
                    <td name="videoFormat">$videoFormat$</td>
                    <td name="acceptedPaymentMethod">$acceptedPaymentMethod$</td>
                    <td name="edit" class="center">
                        <div class="btn-area text-center">
                            <button type="button" class="btn btn-primary btn-list edit" data-toggle="modal"
                                data-target="#myModal">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>
<%- include('../../common/master/_loading') %>