<%- contentFor('title') %>
スクリーン編集
<%- contentFor('displayId') %>
SR-02
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/places/screeningRoom.js"></script>
<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: false }) %>
</form>