<%- contentFor('title') %>
オファーカタログ(券種グループ)作成
<%- contentFor('displayId') %>
OC-00
<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/ticketTypeGroupAddEdit.css">
<%- contentFor('scripts') %>
<script src="/js/jquery-ui.js"></script>
<script src="/js/master/offerCatalogs/form.js"></script>

<%- contentFor('body') %>
<form method="post" id="ticketTypeGroupsForm">
    <%- include('../common/errorMessage') %>
    <%- include('../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: true }) %>

    <button type="button" class="btn btn-ok btn-primary">登録する</button>
</form>