<div class="card">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    追加特性
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="identifier" class="bmd-label-static">
                            コード<span class="text-danger">＊</span>
                        </label>
                        <% if (isNew) { %>
                        <input type="text" class="form-control" name="identifier" id="identifier" placeholder=""
                            maxlength=64 value="<%= forms.identifier %>">
                        <% } else { %>
                        <input type="text" class="form-control" disabled placeholder="" maxlength=64
                            value="<%= forms.identifier %>">
                        <input type="hidden" name="id" value="<%= forms.id %>">
                        <input type="hidden" name="identifier" value="<%= forms.identifier %>">
                        <% } %>
                        <span class="bmd-help">半角64文字以内でご入力ください</span>
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors.identifier) { %>
                            <%- errors.identifier.msg %>
                            <% } %>
                        </span>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="itemOffered[typeOf]" class="bmd-label-static">
                            アイテム<span class="text-danger">＊</span>
                        </label>
                        <% if (isNew) { %>
                        <select class="form-control" name="itemOffered[typeOf]" id="itemOffered[typeOf]">
                            <% productTypes.forEach((productType) => { %>
                            <option value="<%= productType.codeValue %>"
                                <% if (forms.itemOffered !== undefined && forms.itemOffered.typeOf === productType.codeValue) { %>
                                selected<% } %>><%= productType.name %></option>
                            <% }) %>
                        </select>
                        <% } else { %>
                        <% const productType = productTypes.find((p) => p.codeValue === forms.itemOffered.typeOf) %>
                        <input class="form-control" disabled type="text"
                            value="<%= (productType !== undefined) ? productType.name : '' %>">
                        <input type="hidden" name="itemOffered[typeOf]" id="itemOffered[typeOf]"
                            value="<%= forms.itemOffered.typeOf %>">
                        <% } %>
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors['itemOffered.typeOf']) { %>
                            <%- errors['itemOffered.typeOf'].msg %>
                            <% } %>
                        </span>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="serviceType" class="bmd-label-static">
                            サービス区分
                        </label>
                        <select name="serviceType" id="serviceType" class="form-control">
                            <option value="" selected>未指定</option>
                            <% for (let serviceType of serviceTypes) { %>
                            <% if (forms.serviceType === serviceType.codeValue) { %>
                            <option value="<%= serviceType.codeValue %>" selected>
                                <%= serviceType.name.ja %>
                            </option>
                            <% } else { %>
                            <option value="<%= serviceType.codeValue %>">
                                <%= serviceType.name.ja %>
                            </option>
                            <% } %>
                            <% } %>
                        </select>
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors.serviceType) { %>
                            <%- errors.serviceType.msg %>
                            <% } %>
                        </span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=64 value="<%= forms.name.ja %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors['name.ja']) { %>
                            <%- errors['name.ja'].msg %>
                            <% } %>
                        </span>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name[en]" class="bmd-label-static">
                            名称英<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[en]" id="name[en]" placeholder=""
                            maxlength=64 value="<%= forms.name.en %>">
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors['name.en']) { %>
                            <%- errors['name.en'].msg %>
                            <% } %>
                        </span>
                    </div>
                </div>

                <div class="form-group bmd-form-group">
                    <label for="ticketTypes" class="bmd-label-static">
                        オファーリスト<span class="text-danger">＊</span>
                    </label>
                    <% if (errors && errors['itemListElement']) { %>
                    <p class="text-danger">
                        <%- errors['itemListElement'].msg %>
                    </p>
                    <% } %>
                </div>

                <div class="form-group bmd-form-group">
                    <span for="price" class="bmd-label-static">
                        オファー売上金額
                    </span>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="number" class="form-control" name="price" id="price" placeholder=""
                                maxlength=10>
                            <p class="error message text-danger">
                                <% if (errors && errors.ticketTypes) { %>
                                <%- errors.ticketTypes.msg %>
                                <% } %>
                            </p>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <textarea class="d-none"
                            name="selectedOffers"><%= JSON.stringify(offers, null, '\t')%></textarea>
                        <div class="mx-auto">
                            <ul id="sortable1" class="float-left connectedSortable list-group m-3 p-3"></ul>
                            <ul id="sortable2" class="float-left connectedSortable list-group m-3 p-3"></ul>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="description.ja" class="bmd-label-static">
                            補足説明
                        </label>
                        <input type="text" class="form-control" name="description[ja]" id="description.ja"
                            placeholder="" maxlength=64 value="<%= forms.description.ja %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors['description.ja']) { %>
                            <%- errors['description.ja'].msg %>
                            <% } %>
                        </span>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="description.en" class="bmd-label-static">
                            補足説明英
                        </label>
                        <input type="text" class="form-control" name="description[en]" id="description.en"
                            placeholder="" maxlength=64 value="<%= forms.description.en %>">
                        <span class="bmd-help text-danger d-block">
                            <% if (errors && errors['description.en']) { %>
                            <%- errors['description.en'].msg %>
                            <% } %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="link2">
                <%- include('../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>
        </div>
    </div>
</div>
<!-- end card -->