<div class="card card-plain">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                    追加特性
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                    高度な設定
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <% if (isNew) { %>
                <% } else { %>
                <input type="hidden" name="id" value="<%= forms.id %>">
                <% } %>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="branchCode" class="bmd-label-static">
                            コード<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="branchCode" id="branchCode" placeholder=""
                            maxlength=20 value="<%= forms.branchCode %>">
                        <span class="bmd-help">半角20文字以内でご入力ください</span>
                        <% if (errors && errors.branchCode) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.branchCode.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=64 value="<%=forms.name.ja %>">
                        <span class="bmd-help">全角64文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name[en]" class="bmd-label-static">
                            英語名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[en]" id="name[en]" placeholder=""
                            maxlength=64 value="<%=forms.name.en %>">
                        <span class="bmd-help">半角64文字以内でご入力ください</span>
                        <% if (errors && errors['name.en']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.en'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="telephone" class="bmd-label-static">
                            telephone
                        </label>
                        <input type="text" class="form-control" name="telephone" id="telephone" placeholder=""
                            maxlength=64 value="<%= forms.telephone %>">
                        <% if (errors && errors['telephone']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['telephone'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="url" class="bmd-label-static">
                            url
                        </label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="" maxlength=256
                            value="<%= forms.url %>">
                        <% if (errors && errors['url']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['url'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="paymentAccepted[]" class="bmd-label-static">
                            対応決済方法
                            <a href="#" data-toggle="tooltip"
                                title="<p class=&quot;text-left mb-0&quot;>販売者の対応可能な決済方法を設定します。<br>決済方法区分は区分管理にて設定可能です。</p>"
                                style="pointer-events: auto;">
                                <span class="material-icons" style="font-size: 1.2em;">
                                    help
                                </span>
                            </a>
                        </label>

                        <select class="form-control" name="paymentAccepted[]" id="paymentAccepted[]" multiple="multiple"
                            style="width: 100%;">
                            <% if (Array.isArray(forms.paymentAccepted)) { %>
                            <% forms.paymentAccepted.forEach((payment) => { %>
                            <option value="<%= JSON.stringify(payment) %>" selected="selected">
                                <%= payment.name.ja %></option>
                            <% }) %>
                            <% } %>
                        </select>

                        <% if (errors && errors.videoFormat) { %>
                        <p class="text-danger">
                            <%- errors.videoFormat.msg %>
                        </p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link3">
                <%- include('../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>

            <div class="tab-pane" id="link4">
                <% if (!isNew) { %>
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            高度な名称
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editNameJson" role="button"
                            aria-expanded="false" aria-controls="editNameJson">
                            編集する
                        </a>

                        <div class="collapse" id="editNameJson">
                            <textarea class="form-control" name="nameStr"
                                rows=20><%= JSON.stringify(forms.name, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            hasMerchantReturnPolicy
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editHasMerchantReturnPolicyJson"
                            role="button" aria-expanded="false" aria-controls="editHasMerchantReturnPolicyJson">
                            編集する
                        </a>

                        <div class="collapse" id="editHasMerchantReturnPolicyJson">
                            <textarea class="form-control" name="hasMerchantReturnPolicyStr"
                                rows=20><%= JSON.stringify(forms.hasMerchantReturnPolicy, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end card -->