<%- contentFor('title') %>
興行区分マスタ登録
<%- contentFor('displayId') %>
Aa-16
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/serviceTypes/form.js"></script>

<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post">
    <%- include('../common/errorMessage') %>
    <%- include('../common/successMessage') %>

    <% /* 登録・更新共通部 */ %>
    <%- include('form', { forms: forms, isNew: true }) %>

    <% /* 登録ボタン */ %>
    <button type="button" class="btn btn-ok btn-primary">登録する</button>
</form>