<div class="card card-plain">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    追加特性
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="inCodeSet[identifier]" class="bmd-label-static">
                            区分分類<span class="text-danger">＊</span>
                        </label>
                        <% if (!isNew) { %>
                        <input type="hidden" name="inCodeSet" value="<%= JSON.stringify(forms.inCodeSet) %>">
                        <% } %>
                        <select class="form-control" name="inCodeSet" id="inCodeSet" style="width: 100%;"
                            <% if (!isNew) { %> disabled <% } %>>
                            <% if (forms.inCodeSet !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.inCodeSet) %>" selected="selected">
                                <%= forms.inCodeSet.name %></option>
                            <% } %>
                        </select>

                        <% if (errors && errors['inCodeSet']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['inCodeSet'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="codeValue" class="bmd-label-static">
                            コード<span class="text-danger">＊</span>
                        </label>
                        <% if (!isNew) { %>
                        <input type="hidden" name="id" value="<%= forms.id %>">
                        <input type="hidden" name="codeValue" value="<%= forms.codeValue %>">
                        <% } %>
                        <input type="text" class="form-control" name="codeValue" id="codeValue" placeholder=""
                            maxlength=20 value="<%= forms.codeValue %>" <% if (!isNew) { %> disabled<% } %>>
                        <span class="bmd-help">半角20文字以内でご入力ください</span>
                        <% if (errors && errors.codeValue) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.codeValue.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=30
                            value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="name[en]" class="bmd-label-static">
                            英語名称
                        </label>
                        <input type="text" class="form-control" name="name[en]" id="name[en]" placeholder=""
                            maxlength=30
                            value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.en : '' %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% if (errors && errors['name.en']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.en'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="paymentMethod[typeOf]" class="bmd-label-static">
                            決済方法<span class="text-danger">(決済カード区分で必須)</span>
                        </label>
                        <select class="form-control" name="paymentMethod[typeOf]">
                            <option value="">---</option>
                            <% if (Array.isArray(paymentServices)) { %>
                            <% paymentServices
                                .filter((s) => s.typeOf === 'MovieTicket')
                                .forEach((s) => { %>
                            <option value="<%= s.serviceType.codeValue %>" <% if (forms.paymentMethod !== undefined
                                    && forms.paymentMethod.typeOf === s.serviceType.codeValue ) { %> selected<% } %>>
                                <%= s.name.ja %>
                            </option>
                            <% })%>
                            <% } %>
                        </select>
                        <% if (errors && errors['paymentMethod.typeOf']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['paymentMethod.typeOf'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="image" class="bmd-label-static">
                            イメージ
                        </label>
                        <input type="text" class="form-control" name="image" id="image" placeholder="" maxlength=256
                            value="<%= forms.image %>">
                        <span class="bmd-help">イメージURLをご入力ください</span>
                        <% if (errors && errors['image']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['image'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="color" class="bmd-label-static">
                            カラー
                        </label>
                        <input type="text" class="form-control" name="color" id="color" placeholder="" maxlength=32
                            value="<%= forms.color %>">
                        <% if (errors && errors['color']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['color'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link2">
                <%- include('../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>
        </div>
    </div>