<div class="card">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="inCodeSet[identifier]" class="bmd-label-static">
                            区分分類<span class="text-danger">＊</span>
                        </label>
                        <% if (!isNew) { %>
                        <input type="hidden" name="inCodeSet[identifier]" value="<%= forms.inCodeSet.identifier %>">
                        <% } %>
                        <select class="form-control" name="inCodeSet[identifier]" <% if (!isNew) { %> disabled<% } %>>
                            <option value="">選択してください</option>
                            <% categoryCodeSets.forEach((categoryCodeSet) => { %>
                            <option value="<%= categoryCodeSet.identifier %>" <% if (forms.inCodeSet !== undefined
                            && forms.inCodeSet.identifier === categoryCodeSet.identifier) { %> selected<% } %>>
                                <%= categoryCodeSet.name %>
                            </option>
                            <% }) %>
                        </select>
                        <% if (errors && errors['inCodeSet.identifier']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['inCodeSet.identifier'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="codeValue" class="bmd-label-static">
                            コード<span class="text-danger">＊</span>
                        </label>
                        <% if (!isNew) { %>
                        <input type="hidden" name="codeValue" value="<%= forms.codeValue %>">
                        <% } %>
                        <input type="text" class="form-control" name="codeValue" id="codeValue" placeholder=""
                            maxlength=20 value="<%= forms.codeValue %>" <% if (!isNew) { %> disabled<% } %>>
                        <span class="bmd-help">半角20文字以内でご入力ください</span>
                        <% if (errors && errors.codeValue) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors.codeValue.msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=30
                            value=<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>>
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="paymentMethod[typeOf]" class="bmd-label-static">
                            決済方法<span class="text-danger">(決済カード区分で必須)</span>
                        </label>
                        <select class="form-control" name="paymentMethod[typeOf]">
                            <option value="MovieTicket" <% if (forms.paymentMethod !== undefined
                            && forms.paymentMethod.typeOf === 'MovieTicket') { %> selected<% } %>>ムビチケ
                            </option>
                        </select>
                        <% if (errors && errors['paymentMethod.typeOf']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['paymentMethod.typeOf'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
                <div class="tab-pane" id="link2">
                </div>
            </div>

        </div>
    </div>