<%- contentFor('title') %>
各種区分登録
<%- contentFor('displayId') %>
CC-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/categoryCodes/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../common/errorMessage') %>
    <%- include('../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>