<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="reservationFor[superEvent][location][id]" class="bmd-label-static">
                                施設
                            </label>
                            <select class="form-control" name="reservationFor[superEvent][location][id]">
                                <option value="">施設選択</option>
                                <% for (let movieTheater of movieTheaters) { %>
                                <option value="<%= movieTheater.id %>">
                                    <%= movieTheater.name.ja %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="reservationFor[superEvent][workPerformed][identifier]" class="bmd-label-static">
                                コンテンツ
                            </label>
                            <select class="form-control" name="reservationFor[superEvent][workPerformed][identifier]"
                                id="reservationFor[superEvent][workPerformed][identifier]" style="width: 100%;">
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="reservationStatus" class="bmd-label-static">
                                ステータス
                            </label>
                            <select class="form-control" name="reservationStatus">
                                <option value="">ステータス選択</option>
                                <% reservationStatusTypes.forEach(function(reservationStatusType) { %>
                                <option value="<%= reservationStatusType.codeValue %>">
                                    <%= reservationStatusType.name %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="additionalTicketText[$eq]" class="bmd-label-static">
                                追加テキスト
                            </label>
                            <input class="form-control" placeholder="追加テキスト" name="additionalTicketText"
                                id="additionalTicketText" />
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="application" class="bmd-label-static">
                                アプリケーション
                            </label>
                            <select class="form-control" name="application" id="application" style="width: 100%;">
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="admin[id]" class="bmd-label-static">
                                代理
                            </label>
                            <select class="form-control" name="admin[id]" id="admin[id]" style="width: 100%;">
                            </select>
                        </div>
                    </div>

                    <div class="advanced collapse">
                        <div class="form-row">
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="reservationFor[id]" class="bmd-label-static">
                                    イベントID
                                </label>
                                <input type="text" class="form-control" name="reservationFor[id]"
                                    id="reservationFor[id]" placeholder="イベントID" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="reservationFor[superEvent][id]" class="bmd-label-static">
                                    施設コンテンツID
                                </label>
                                <input type="text" class="form-control" name="reservationFor[superEvent][id]"
                                    id="reservationFor[superEvent][id]" placeholder="施設コンテンツID" />
                            </div>
                            <div class="form-group bmd-form-group col-md-4">
                                <label for="reservationFor[startFrom]" class="bmd-label-static">
                                    イベント開始日時(From - To)
                                </label>

                                <div class="input-group">
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="reservationFor[startFrom]" id="reservationFor[startFrom]" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">から</span>
                                    </div>
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="reservationFor[startThrough]" id="reservationFor[startThrough]"
                                        valufe="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">まで</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="reservedTicket[ticketedSeat][seatNumber]" class="bmd-label-static">
                                    座席コード
                                </label>
                                <input class="form-control" placeholder="座席コード"
                                    name="reservedTicket[ticketedSeat][seatNumber]"
                                    id="reservedTicket[ticketedSeat][seatNumber]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="reservationNumber" class="bmd-label-static">
                                    予約番号
                                </label>
                                <input type="text" class="form-control" name="reservationNumber" id="reservationNumber"
                                    placeholder="予約番号" />
                            </div>
                            <div class="form-group bmd-form-group col-md-4">
                                <label for="bookingFrom" class="bmd-label-static">
                                    予約日(From - To)
                                </label>

                                <div class="input-group">
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="bookingFrom" id="bookingFrom" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">から</span>
                                    </div>
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="bookingThrough" id="bookingThrough" valufe="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">まで</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group bmd-form-group col-md-4">
                                <label for="modifiedFrom" class="bmd-label-static">
                                    更新日(From - To)
                                </label>

                                <div class="input-group">
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="modifiedFrom" id="modifiedFrom" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">から</span>
                                    </div>
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="modifiedThrough" id="modifiedThrough" valufe="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">まで</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="reservedTicket[ticketedSeat][seatNumber]" class="bmd-label-static">
                                    オファーID
                                </label>
                                <input class="form-control" placeholder="オファーID" name="reservedTicket[ticketType][id]"
                                    id="reservedTicket[ticketType][id]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="reservedTicket[ticketedSeat][seatNumber]" class="bmd-label-static">
                                    オファーカテゴリー
                                </label>
                                <select class="form-control" name="reservedTicket[ticketType][category][id]">
                                    <option value="">オファーカテゴリー選択</option>
                                    <% for (let ticketTypeCategory of ticketTypeCategories) { %>
                                    <option value="<%= ticketTypeCategory.id %>">
                                        <%= ticketTypeCategory.name.ja %>
                                    </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group bmd-form-group col-md-3">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="underName[id]" class="bmd-label-static">
                                    チケットホルダーID
                                </label>
                                <input class="form-control" placeholder="ID" name="underName[id]" id="underName[id]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="underName[name]" class="bmd-label-static">
                                    チケットホルダー名称
                                </label>
                                <input class="form-control" placeholder="Name" name="underName[name]"
                                    id="underName[name]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="underName[email]" class="bmd-label-static">
                                    チケットホルダーEmail
                                </label>
                                <input class="form-control" placeholder="Email" name="underName[email]"
                                    id="underName[email]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="underName[telephone]" class="bmd-label-static">
                                    チケットホルダーTEL
                                </label>
                                <input class="form-control" placeholder="Telephone" name="underName[telephone]"
                                    id="underName[telephone]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-1">
                                <label for="checkedIn" class="bmd-label-static">
                                </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="checkedIn" value="1"
                                            id="checkedIn">
                                        発券済
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group bmd-form-group col-md-1">
                                <label for="attended" class="bmd-label-static">
                                </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="attended" value="1"
                                            id="attended">
                                        入場済
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th></th>
                            <th>予約番号</th>
                            <th>予約日時</th>
                            <th>ステータス</th>
                            <th>イベント</th>
                            <th>コンテンツ</th>
                            <th>場所</th>
                            <th>チケット</th>
                            <th>座席</th>
                            <th>チケットホルダー</th>
                            <th>アプリ</th>
                            <th>追加テキスト</th>
                            <th>サブ</th>
                            <th>発券</th>
                            <th>入場</th>
                            <th>追加特性</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="id__checkbox">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="selectedReservations"
                                            value="$id$">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td name="id__reservationNumber">
                                <a href="javascript:void(0)" class="showReservation" data-id="$id$">
                                    $reservationNumber$
                                </a>
                            </td>
                            <td name="bookingTime|date:YY-MM-DD HH:mm:ssZ">
                                $bookingTime$
                            </td>
                            <td class="reservationStatusTypeName"
                                name="previousReservationStatus__reservationStatus__reservationStatus__reservationStatusTypeName">
                                <a href="#"
                                    title="$previousReservationStatus$ -> $reservationStatus$">
                                    <span class="badge badge-light $reservationStatus$">$reservationStatusTypeName$</span>
                                </a>
                            </td>
                            <td name="reservationFor.id__reservationFor.startDate|date:YY-MM-DD HH:mm:ssZ">
                                <span class="badge badge-light">$reservationFor.id$</span><br>
                                $reservationFor.startDate$
                            </td>
                            <td name="reservationFor.superEvent.id__reservationFor.superEvent.name.ja|slice:10">
                                <a target="_blank"
                                    href="/projects/<%= req.project.id %>/events/screeningEventSeries/$reservationFor.superEvent.id$/update">$reservationFor.superEvent.name.ja$
                                    <i class="material-icons" style="font-size: 1.2em;">open_in_new</i></a>
                            </td>
                            <td
                                name="reservationFor.superEvent.location.name.ja|slice:10__reservationFor.location.name.ja|slice:10">
                                $reservationFor.superEvent.location.name.ja$<br>
                                $reservationFor.location.name.ja$
                            </td>
                            <td
                                name="reservedTicket.ticketType.id__reservedTicket.ticketType.name.ja|slice:10__unitPriceSpec.price__unitPriceSpec.referenceQuantity.value__unitPriceSpec.priceCurrency">
                                <a target="_blank"
                                        href="/projects/<%= req.project.id %>/ticketTypes/$reservedTicket.ticketType.id$/update">$reservedTicket.ticketType.name.ja$
                                        <i class="material-icons"
                                            style="font-size: 1.2em;">open_in_new</i></a><br>
                                $unitPriceSpec.price$ $unitPriceSpec.priceCurrency$ /
                                $unitPriceSpec.referenceQuantity.value$
                            </td>
                            <td name="ticketedSeatStr"><span class="badge badge-light">$ticketedSeatStr$</span></td>
                            <td name="id__underName.name|slice:10">
                                <a href="javascript:void(0)" class="showUnderName" data-id="$id$">
                                    $underName.name$
                                </a>
                            </td>
                            <td name="application.name|slice:15">$application.name$</td>
                            <td name="additionalTicketText|slice:10__id">$additionalTicketText$
                                <a href="javascript:void(0)" class="editAdditionalTicketText" data-id="$id$">
                                    <i class="material-icons" style="font-size: 1.2em;">edit</i>
                                </a></td>
                            <td name="id__showSubReservation">
                                <a href="javascript:void(0)" class="showSubReservation" data-id="$id$">
                                    表示
                                </a>
                            </td>
                            <td name="id__checkedInText">
                                <a href="javascript:void(0)" class="" data-id="$id$">
                                    <i class="material-icons" style="font-size: 1.2em;">$checkedInText$</i>
                                </a>
                            </td>
                            <td name="id__attendedText">
                                <a href="javascript:void(0)" class="showUseActions" data-id="$id$">
                                    <i class="material-icons" style="font-size: 1.2em;">$attendedText$</i>
                                </a>
                            </td>
                            <td name="id__additionalProperty">
                                <a href="javascript:void(0)" class="showAdditionalProperty" data-id="$id$">
                                    表示
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>