<%- contentFor('title') %>
予約管理
<%- contentFor('displayId') %>
Aa-11
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/reservationList.js"></script>

<%- contentFor('body') %>

<div class="form-container search mb-3">
    <form method="post" class="p-3 bg-light-gray">
        <%- include('../common/master/_hidden') %>
        <div class="menu-group">
            <% if (message !== '') { %>
            <p class="error message text-danger panel-body bg-danger">
                <%= message %>
            </p>
            <% } %>
        </div>

        <div class="form-group row">
            <label for="reservationNumber" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                予約
            </label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="reservationNumber" id="reservationNumber"
                            placeholder="予約番号" />
                    </div>
                    <div class="col-md-6">
                        <select class="form-control" name="reservationStatus">
                            <option value="">ステータス選択</option>
                            <% Object.keys(reservationStatusType).forEach(function(key) { %>
                            <option value="<%= reservationStatusType[key] %>"><%= reservationStatusType[key] %>
                            </option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="modifiedFrom" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                更新日(From - To)
            </label>
            <div class="col-md-8">
                <input class="form-control datepicker" style="width:30%;display:inline-block;" placeholder=""
                    maxlength=10 name="modifiedFrom" id="modifiedFrom" value="" />
                ～
                <input class="form-control datepicker" style="width:30%;display:inline-block;" placeholder=""
                    maxlength=10 name="modifiedThrough" id="modifiedThrough" value="" />
            </div>
        </div>

        <div class="form-group row">
            <label for="reservationFor[id]" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                イベント
            </label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="reservationFor[id]" id="reservationFor[id]"
                            placeholder="スケジュールID" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="reservationFor[superEvent][id]"
                            id="reservationFor[superEvent][id]" placeholder="劇場上映作品ID" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="reservedTicket[ticketedSeat][seatNumber]"
                class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                チケット
            </label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" placeholder="座席コード" name="reservedTicket[ticketedSeat][seatNumber]"
                            id="reservedTicket[ticketedSeat][seatNumber]" />
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" placeholder="券種コード" name="reservedTicket[ticketType][id]"
                            id="reservedTicket[ticketType][id]" />
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" name="reservedTicket[ticketType][category][id]">
                            <option value="">券種区分選択</option>
                            <% for (let ticketTypeCategory of ticketTypeCategories) { %>
                            <option value="<%= ticketTypeCategory.id %>">
                                <%= ticketTypeCategory.name %>
                            </option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="underName[id]" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
                チケットホルダー
            </label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" placeholder="ID" name="underName[id]" id="underName[id]" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Name" name="underName[name]" id="underName[name]" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Email" name="underName[email]" id="underName[email]" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" placeholder="Telephone" name="underName[telephone]"
                            id="underName[telephone]" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="checkedIn" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
            </label>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="checkedIn" value="1" id="checkedIn">
                            <label class="form-check-label" for="checkedIn">
                                発券済
                            </label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="attended" value="1" id="attended">
                            <label class="form-check-label" for="attended">
                                入場済
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <button type="button" class="btn btn-ok search btn-primary">検索する</button>
            <button type="button" class="reset-condition btn btn-danger">検索内容リセット</button>
        </div>
    </form>
</div>
<div class="form-container search">
    <div>
        <p class="mb-3" id="searchedCount" style="display:none;">
            検索結果$searched_count$件
        </p>
    </div>
    <div id="list" class="scroll-horizontal text-small mb-3" style="display:none;">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>ID<br>予約番号<br>ステータス<br>更新日時</th>
                    <th>イベント</th>
                    <th>チケット</th>
                    <th>チケット<br>ホルダー</th>
                    <th>発券<br>入場</th>
                </tr>
            </thead>
            <tbody>
                <tr id="templateRow" _id="$id$">
                    <td name="typeOf__id__reservationNumber__reservationStatus__modifiedTime">
                        <p class="badge badge-secondary">$typeOf$</p>
                        <p>$id$</p>
                        <p>$reservationNumber$</p>
                        <p><span class="badge badge-success">$reservationStatus$</span></p>
                        <p>$modifiedTime$</p>
                    </td>
                    <td
                        name="reservationFor.typeOf__reservationFor.id__reservationFor.superEvent.id__reservationFor.superEvent.name.ja__reservationFor.name.ja__reservationFor.startDate__reservationFor.superEvent.location.name.ja__reservationFor.location.name.ja">
                        <p class="badge badge-secondary">$reservationFor.typeOf$</p>
                        <p>$reservationFor.id$</p>
                        <p><a target="_blank"
                                href="/events/screeningEventSeries/$reservationFor.superEvent.id$/update">$reservationFor.superEvent.name.ja$</a>
                        </p>
                        <p class="font-weight-bold">$reservationFor.name.ja$</p>
                        <p>$reservationFor.startDate$</p>
                        <p class="font-italic">$reservationFor.superEvent.location.name.ja$</p>
                        <p class="font-italic">$reservationFor.location.name.ja$</p>
                    </td>
                    <td
                        name="reservedTicket.typeOf__ticketType.name__reservedTicket.ticketType.id__reservedTicket.ticketType.name.ja__reservedTicket.ticketType.name.en__unitPriceSpec.price__unitPriceSpec.referenceQuantity.value__unitPriceSpec.priceCurrency__ticketedSeat">
                        <p class="badge badge-secondary">$reservedTicket.typeOf$</p>
                        <p class="font-weight-bold"><a target="_blank"
                                href="/ticketTypes/$reservedTicket.ticketType.id$/update">$reservedTicket.ticketType.name.ja$
                                <br>$reservedTicket.ticketType.name.en$</a></p>
                        <p class="badge badge-info">$ticketType.name$</p>
                        <p>$unitPriceSpec.price$ / $unitPriceSpec.referenceQuantity.value$
                            $unitPriceSpec.priceCurrency$</p>
                        <p>$ticketedSeat$</p>
                    </td>
                    <td
                        name="underName.typeOf__underName.name__underName.email__underName.name__underName.id__underName.telephone__underName.identifier">
                        <p class="badge badge-secondary">$underName.typeOf$</p>
                        <p>$underName.id$</p>
                        <p>$underName.name$</p>
                        <p>$underName.email$</p>
                        <p>$underName.telephone$</p>
                        <p>$underName.identifier$</p>
                    </td>
                    <td name="checkedIn__attended">
                        <p>$checkedIn$<br>$attended$</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>
<%- include('../common/master/_loading') %>