<%- contentFor('title') %>
予約管理
<%- contentFor('displayId') %>
Aa-11
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/reservationList.js"></script>

<%- contentFor('body') %>

<div class="card">
    <div class="card-body">
        <form method="post">
            <%- include('../common/master/_hidden') %>
            <div class="menu-group">
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservationNumber" class="bmd-label-static">
                        予約番号
                    </label>
                    <input type="text" class="form-control" name="reservationNumber" id="reservationNumber"
                        placeholder="予約番号" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservationStatus" class="bmd-label-static">
                        ステータス
                    </label>
                    <select class="form-control" name="reservationStatus">
                        <option value="">ステータス選択</option>
                        <% Object.keys(reservationStatusType).forEach(function(key) { %>
                        <option value="<%= reservationStatusType[key] %>"><%= reservationStatusType[key] %>
                        </option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group bmd-form-group col-md-3">
                </div>
                <div class="form-group bmd-form-group col-md-3">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-6">
                    <label for="bookingFrom" class="bmd-label-static">
                        予約日(From - To)
                    </label>

                    <div class="input-group">
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="bookingFrom"
                            id="bookingFrom" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">から</span>
                        </div>
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="bookingThrough"
                            id="bookingThrough" valufe="" />
                        <div class="input-group-append">
                            <span class="input-group-text">まで</span>
                        </div>
                    </div>
                </div>

                <div class="form-group bmd-form-group col-md-6">
                    <label for="modifiedFrom" class="bmd-label-static">
                        更新日(From - To)
                    </label>

                    <div class="input-group">
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="modifiedFrom"
                            id="modifiedFrom" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">から</span>
                        </div>
                        <input class="form-control datepicker" placeholder="" maxlength=10 name="modifiedThrough"
                            id="modifiedThrough" valufe="" />
                        <div class="input-group-append">
                            <span class="input-group-text">まで</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservationFor[id]" class="bmd-label-static">
                        イベントID
                    </label>
                    <input type="text" class="form-control" name="reservationFor[id]" id="reservationFor[id]"
                        placeholder="イベントID" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservationFor[superEvent][id]" class="bmd-label-static">
                        劇場上映作品ID
                    </label>
                    <input type="text" class="form-control" name="reservationFor[superEvent][id]"
                        id="reservationFor[superEvent][id]" placeholder="劇場上映作品ID" />
                </div>
                <div class="form-group bmd-form-group col-md-6">
                    <label for="reservationFor[startFrom]" class="bmd-label-static">
                        イベント開始日時(From - To)
                    </label>

                    <div class="input-group">
                        <input class="form-control datepicker" placeholder="" maxlength=10
                            name="reservationFor[startFrom]" id="reservationFor[startFrom]" value="" />
                        <div class="input-group-append">
                            <span class="input-group-text">から</span>
                        </div>
                        <input class="form-control datepicker" placeholder="" maxlength=10
                            name="reservationFor[startThrough]" id="reservationFor[startThrough]" valufe="" />
                        <div class="input-group-append">
                            <span class="input-group-text">まで</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservedTicket[ticketedSeat][seatNumber]" class="bmd-label-static">
                        座席コード
                    </label>
                    <input class="form-control" placeholder="座席コード" name="reservedTicket[ticketedSeat][seatNumber]"
                        id="reservedTicket[ticketedSeat][seatNumber]" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservedTicket[ticketedSeat][seatNumber]" class="bmd-label-static">
                        券種コード
                    </label>
                    <input class="form-control" placeholder="券種コード" name="reservedTicket[ticketType][id]"
                        id="reservedTicket[ticketType][id]" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="reservedTicket[ticketedSeat][seatNumber]" class="bmd-label-static">
                        オファーカテゴリー
                    </label>
                    <select class="form-control" name="reservedTicket[ticketType][category][id]">
                        <option value="">オファーカテゴリー選択</option>
                        <% for (let ticketTypeCategory of ticketTypeCategories) { %>
                        <option value="<%= ticketTypeCategory.id %>">
                            <%= ticketTypeCategory.name.ja %>
                        </option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group bmd-form-group col-md-3">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="underName[id]" class="bmd-label-static">
                        チケットホルダーID
                    </label>
                    <input class="form-control" placeholder="ID" name="underName[id]" id="underName[id]" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="underName[name]" class="bmd-label-static">
                        チケットホルダー名称
                    </label>
                    <input class="form-control" placeholder="Name" name="underName[name]" id="underName[name]" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="underName[email]" class="bmd-label-static">
                        チケットホルダーEmail
                    </label>
                    <input class="form-control" placeholder="Email" name="underName[email]" id="underName[email]" />
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="underName[telephone]" class="bmd-label-static">
                        チケットホルダーTEL
                    </label>
                    <input class="form-control" placeholder="Telephone" name="underName[telephone]"
                        id="underName[telephone]" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="checkedIn" class="bmd-label-static">
                    </label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="checkedIn" value="1" id="checkedIn">
                            発券済
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="attended" class="bmd-label-static">
                    </label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="attended" value="1" id="attended">
                            入場済
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group bmd-form-group col-md-3">
                </div>
                <div class="form-group bmd-form-group col-md-3">
                </div>
            </div>

            <div class="panel-body">
                <button type="button" class="btn btn-ok search btn-primary">検索する</button>
                <button type="button" class="reset-condition btn btn-danger">検索内容リセット</button>
            </div>
        </form>
    </div>
</div>

<div class="form-container search">
    <div>
        <p id="resultStats" style="display:none;">
        </p>
        <!-- <p class="mb-3" id="searchedCount" style="display:none;">
            検索結果 $searched_count$件
        </p> -->
    </div>
    <div id="list" style="display:none;">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>ID<br>予約番号</th>
                                <th>予約日時</th>
                                <th>ステータス</th>
                                <th>イベント</th>
                                <th>チケット</th>
                                <th>チケット<br>ホルダー</th>
                                <th>発券<br>入場</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="templateRow" _id="$id$">
                                <td name="id__reservationNumber">
                                    $id$<br>
                                    $reservationNumber$<br>
                                </td>
                                <td name="bookingTime|parseDateTime">
                                    <span class="text-muted">$bookingTime$</span><br>
                                </td>
                                <td name="reservationStatus">
                                    <span class="text-muted">$reservationStatus$</span><br>
                                </td>
                                <td
                                    name="reservationFor.typeOf__reservationFor.id__reservationFor.superEvent.id__reservationFor.superEvent.name.ja|slice__reservationFor.name.ja|slice__reservationFor.startDate|parseDateTime__reservationFor.superEvent.location.name.ja__reservationFor.location.name.ja">
                                    <span class="text-muted">$reservationFor.id$</span><br>
                                    <a target="_blank"
                                        href="/events/screeningEventSeries/$reservationFor.superEvent.id$/update">$reservationFor.superEvent.name.ja$
                                        <i class="material-icons" style="font-size: 1.2em;">open_in_new</i></a>
                                    /
                                    <span class="font-weight-bold">$reservationFor.name.ja$</span><br>
                                    $reservationFor.startDate$<br>
                                    <span class="font-italic">$reservationFor.superEvent.location.name.ja$</span>
                                    <span class="font-italic">$reservationFor.location.name.ja$</span>
                                </td>
                                <td
                                    name="reservedTicket.typeOf__reservedTicket.ticketType.id__reservedTicket.ticketType.name.ja__reservedTicket.ticketType.name.en__reservedTicket.ticketType.category.codeValue__unitPriceSpec.price__unitPriceSpec.referenceQuantity.value__unitPriceSpec.priceCurrency__ticketedSeat">
                                    <span class="font-weight-bold"><a target="_blank"
                                            href="/ticketTypes/$reservedTicket.ticketType.id$/update">$reservedTicket.ticketType.name.ja$
                                            <i class="material-icons"
                                                style="font-size: 1.2em;">open_in_new</i></a></span><br>
                                    $unitPriceSpec.price$ / $unitPriceSpec.referenceQuantity.value$
                                    $unitPriceSpec.priceCurrency$<br>
                                    $ticketedSeat$<br>
                                </td>
                                <td
                                    name="underName.typeOf__underName.name__underName.email__underName.name__underName.id__underName.telephone__underName.identifier">
                                    <span class="badge badge-secondary">$underName.typeOf$</span><br>
                                    $underName.id$<br>
                                    $underName.name$<br>
                                    $underName.email$<br>
                                    $underName.telephone$<br>
                                    $underName.identifier$
                                </td>
                                <td name="checkedIn__attended">
                                    $checkedIn$<br>$attended$
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>
<%- include('../common/master/_loading') %>