<%- contentFor('title') %>
会員サービス作成
<%- contentFor('displayId') %>
MS-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/services/membershipService/form.js"></script>

<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>