<%- contentFor('title') %>
メンバーシップ編集
<%- contentFor('displayId') %>
MS-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/services/membershipService/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../../common/messages') %>

    <%- include('form', { forms: forms, isNew: false }) %>
</form>