<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="name[$eq]" class="bmd-label-static">
                                タスク名
                            </label>
                            <select class="form-control" name="name[$eq]">
                                <option value="">全て</option>
                                <% Object.keys(TaskName).forEach(function(key) { %>
                                <option value="<%= TaskName[key] %>">
                                    <%= TaskName[key] %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="status[$eq]" class="bmd-label-static">
                                ステータス
                            </label>
                            <select class="form-control" name="status[$eq]">
                                <option value="">全て</option>
                                <% Object.keys(TaskStatus).forEach(function(key) { %>
                                <option value="<%= TaskStatus[key] %>">
                                    <%= TaskStatus[key] %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>

                    <div class="advanced collapse">
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>残試行回数</th>
                            <th>試行回数</th>
                            <th>実行日時</th>
                            <th>最終試行日時</th>
                            <th>Data</th>
                            <th>実行結果</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="id">
                                <a href="javascript:void(0)" class="showAttribute" data-attribute="id" data-id="$id$">
                                    表示
                                </a>
                            </td>
                            <td name="name">
                                <span class="badge badge-light">$name$</span>
                            </td>
                            <td name="status__status">
                                <span class="badge badge-light $status$">$status$</span>
                            </td>
                            <td name="remainingNumberOfTries">
                                $remainingNumberOfTries$
                            </td>
                            <td name="numberOfTried">
                                $numberOfTried$
                            </td>
                            <td name="runsAt|date:YY-MM-DD HH:mm:ssZ">
                                $runsAt$
                            </td>
                            <td name="lastTriedAt|date:YY-MM-DD HH:mm:ssZ">
                                $lastTriedAt$
                            </td>
                            <td name="id__data">
                                <a href="javascript:void(0)" class="showAttribute" data-attribute="data"
                                    data-id="$id$">表示</a>
                            </td>
                            <td name="id__executionResults">
                                <a href="javascript:void(0)" class="showAttribute" data-attribute="executionResults"
                                    data-id="$id$">表示</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>