<%- contentFor('title') %>
予約取引内容確認
<%- contentFor('displayId') %>
RT-00
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            下記内容で予約取引を実行しようとしています...
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>取引ID</dt>
            <dd>
                <%= transaction.id %>
            </dd>
            <dt>イベント</dt>
            <dd>
                <%= event.name.ja %>
            </dd>
            <dt>座席番号</dt>
            <dd>
            </dd>
            <dt>座席数</dt>
            <dd>
            </dd>
            <dt>追加テキスト</dt>
            <dd>
            </dd>
        </dl>
    </div>
    <!-- /.card-body -->

    <!-- form start -->
    <form role="form" method="post">
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">確認して予約取引確定</button>
        </div>
    </form>
</div>
<!-- /.card -->

<!-- general form elements -->
<div class="card card-primary">
    <!-- <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
    </div> -->
    <!-- /.card-header -->

</div>
<!-- /.card -->