<%- contentFor('title') %>
予約取引
<%- contentFor('displayId') %>
RT-00
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="card">
    <!-- <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
    </div> -->
    <!-- /.card-header -->

    <!-- form start -->
    <form role="form" method="post">
        <%- include('../../common/messages') %>

        <div class="card-body">
            <div class="form-group">
                <label>イベント</label>
                <input type="text" class="form-control" value="<%= event.name.ja %>" disabled>
            </div>

            <div class="form-group">
                <label for="seatNumbers">座席番号</label>
                <input type="text" class="form-control" id="seatNumbers" name="seatNumbers"
                    placeholder="A-1,A-2,B-1,B-2" value="">
            </div>

            <div class="form-group">
                <label for="numSeats">座席数</label>
                <input type="number" class="form-control" id="numSeats" name="numSeats" placeholder="2" value="">
            </div>

            <div class="form-group">
                <label for="additionalTicketText">追加テキスト</label>
                <input type="text" class="form-control" id="additionalTicketText" name="additionalTicketText"
                    placeholder="追加テキスト" value="">
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">確認</button>
        </div>
    </form>
</div>
<!-- /.card -->