<% orderWebhooks.forEach((_, key) => { %>
<div class="form-row">
    <div class="form-group bmd-form-group col-6">
        <label class="bmd-label-floating">name</label>
        <input class="form-control" name="orderWebhooks[<%= key %>][name]"
            id="orderWebhooks[<%= key %>][name]" maxlength=64 value="<%= orderWebhooks[key].name %>">
        <% if (errors && errors[`orderWebhooks[${key}].name`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`orderWebhooks[${key}].name`].msg %>
        </span>
        <% } %>
    </div>
    <div class="form-group bmd-form-group col-6">
        <label class="bmd-label-floating">url</label>
        <input class="form-control" name="orderWebhooks[<%= key %>][url]"
            id="orderWebhooks[<%= key %>][url]" maxlength=256 value="<%= orderWebhooks[key].url %>">
        <% if (errors && errors[`orderWebhooks[${key}].url`]) { %>
        <span class="bmd-help text-danger d-block">
            <%- errors[`orderWebhooks[${key}].url`].msg %>
        </span>
        <% } %>
    </div>
</div>
<% }) %>