<%- contentFor('title') %>
プロジェクト作成
<%- contentFor('displayId') %>
PR-00
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/projects/settings.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../common/messages') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>