<div class="form-group row">
    <label for="inCodeSet[codeValue]" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
        科目<span class="text-danger">＊</span>
    </label>
    <div class="col-md-8">
        <% if (!isNew) { %>
        <input type="hidden" name="inCodeSet[codeValue]" value="<%= forms.inCodeSet.codeValue %>">
        <% } %>
        <select class="form-control" name="inCodeSet[codeValue]" <% if (!isNew) { %> disabled
            <% } %>>
            <option value="">選択してください</option>
            <% for (const accountTitleSet of accountTitleSets) { %>
            <option value="<%= accountTitleSet.codeValue %>" <% if (forms.inCodeSet.codeValue===accountTitleSet.codeValue)
                { %> selected
                <% } %>>
                <%= accountTitleSet.inCodeSet.codeValue %>
                <%= accountTitleSet.inCodeSet.name %>
                -
                <%= accountTitleSet.codeValue %>
                <%= accountTitleSet.name %>
            </option>
            <% } %>
        </select>
        <p class="error message text-danger">
            <% if (errors && errors['inCodeSet.codeValue']) { %>
            <%- errors['inCodeSet.codeValue'].msg %>
            <% } %>
        </p>
    </div>
</div>

<div class="form-group row">
    <label for="codeValue" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
        細目コード<span class="text-danger">＊</span>
    </label>
    <div class="col-md-8">
        <input class="form-control" name="codeValue" id="codeValue" placeholder="" maxlength=64 value="<%= forms.codeValue %>"
            <% if (!isNew) { %> readonly
        <% } %>>
        <p class="message">半角64文字以内でご入力ください。</p>
        <p class="error message text-danger">
            <% if (errors && errors['codeValue']) { %>
            <%- errors['codeValue'].msg %>
            <% } %>
        </p>
    </div>
</div>

<div class="form-group row">
    <label for="name" class="col-md-4 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
        細目名称<span class="text-danger">＊</span>
    </label>
    <div class="col-md-8">
        <input class="form-control" name="name" id="name" placeholder="" maxlength=64 value="<%= forms.name %>">
        <p class="message">64文字以内でご入力ください。</p>
        <p class="error message text-danger">
            <% if (errors && errors['name']) { %>
            <%- errors['name'].msg %>
            <% } %>
        </p>
    </div>
</div>