<%- contentFor('title') %>
細目検索
<%- contentFor('displayId') %>
AT-01
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/accountTitles/accountTitle.js"></script>

<%- contentFor('body') %>

<div class="form-container search mb-3 searchAccountTitle">
    <form method="post" class="p-3 bg-light-gray">
        <%- include('../common/master/_hidden') %>

        <div class="form-group">
            <label for="inCodeSet[inCodeSet][codeValue]" class="">
                科目分類
            </label>
            <select class="form-control" name="inCodeSet[inCodeSet][codeValue]">
                <option value="">選択してください</option>
                <% for (const accountTitleCategory of accountTitleCategories) { %>
                <option value="<%= accountTitleCategory.codeValue %>">
                    <%= accountTitleCategory.codeValue %>
                    <%= accountTitleCategory.name %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="inCodeSet[codeValue]" class="">
                科目
            </label>
            <select class="form-control" name="inCodeSet[codeValue]">
                <option value="">選択してください</option>
                <% for (const accountTitleSet of accountTitleSets) { %>
                <option value="<%= accountTitleSet.codeValue %>">
                    <%= accountTitleSet.codeValue %>
                    <%= accountTitleSet.name %>
                </option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="codeValue" class="">
                細目コード
            </label>
            <input type="text" class="form-control" name="codeValue" id="codeValue" placeholder="" maxlength=64
                value="">
        </div>

        <div class="panel-body">
            <a class="btn btn-primary" role="button" href="/accountTitles/accountTitleCategory/new">
                <i class=" fa fa-plus"></i> 科目分類登録</a>
            <a class="btn btn-primary" role="button" href="/accountTitles/accountTitleSet/new">
                <i class=" fa fa-plus"></i> 科目登録</a>
            <a class="btn btn-primary" role="button" href="/accountTitles/new">
                <i class=" fa fa-plus"></i> 細目登録</a>

            <button type="button" class="btn search btn-ok btn-success float-right">検索</button>
        </div>
    </form>
</div>

<div class="form-container search">
    <div id="list" style="display:none;">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>科目分類コード</th>
                    <th>科目分類名称</th>
                    <th>科目コード</th>
                    <th>科目名称</th>
                    <th>細目コード</th>
                    <th>細目名称</th>
                    <th>科目区分</th>
                    <th>科目区分名</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="templateRow" codeValue="$codeValue$">
                    <td name="inCodeSet.inCodeSet.codeValue">
                        <a class="editAccountTitleCategory"
                            href="javascript:void(0)">$inCodeSet.inCodeSet.codeValue$</a>
                    </td>
                    <td name="inCodeSet.inCodeSet.name">$inCodeSet.inCodeSet.name$</td>
                    <td name="inCodeSet.codeValue">
                        <a class="editAccountTitleSet" href="javascript:void(0)">$inCodeSet.codeValue$</a>
                    </td>
                    <td name="inCodeSet.name">$inCodeSet.name$</td>
                    <td name="codeValue"><a class="editAccountTitle" href="javascript:void(0)">$codeValue$</a></td>
                    <td name="name">$name$</td>
                    <td name="inCodeSet.inDefinedTermSet.termCode">$inCodeSet.inDefinedTermSet.termCode$</td>
                    <td name="inCodeSet.inDefinedTermSet.name">$inCodeSet.inDefinedTermSet.name$</td>
                    <td name="edit__codeValue">
                        <div class="text-center mt-2">
                            <a href="javascript:void(0)" class="btn btn-sm btn-outline-primary showAdditionalProperty"
                                data-codeValue="$codeValue$">
                                <span>追加特性</span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="pager" class="div_pager_parent"></div>
    </div>
</div>

<div class="modal fade" id="modal-additionalProperty" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">細目の追加特性</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<%- include('../common/master/_loading') %>