<%- contentFor('title') %>
サービス取引内容確認
<%- contentFor('displayId') %>
RT-00
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>

<div class="card card-plain">
    <div class="card-header">
        <h3 class="card-title">
            下記内容で予約取引を実行しようとしています...
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <dl class="row">
            <% const firstOutput = transaction.object[0].itemOffered.serviceOutput; %>
            <dt class="col-md-2">取引番号</dt>
            <dd class="col-md-10"><%= transaction.transactionNumber %></dd>
            <dt class="col-md-2">プロダクト名称</dt>
            <dd class="col-md-10"><%= product.name.ja %></dd>
            <dt class="col-md-2">アウトプット名称</dt>
            <dd class="col-md-10"><%= firstOutput.name %></dd>
            <dt class="col-md-2">発行者</dt>
            <dd class="col-md-10"><%= firstOutput.issuedBy.name.ja %></dd>
        </dl>
    </div>
    <!-- /.card-body -->

    <!-- form start -->
    <div class="card-footer">
        <form role="form" method="post"
            action="/transactions/registerService/<%= transaction.transactionNumber %>/cancel">
            <button type="submit" class="btn btn-default">中止</button>
        </form>

        <form role="form" method="post">
            <button type="submit" class="btn btn-primary">取引確定</button>
    </div>
</div>
<!-- /.card -->

<!-- general form elements -->
<div class="card card-primary">
    <!-- <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
    </div> -->
    <!-- /.card-header -->

</div>
<!-- /.card -->