<div class="card card-plain">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4provider" role="tablist">
                    プロバイダー
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                    高度な設定
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <input type="hidden" name="id" value="<%= forms.id %>">

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-2">
                        <label for="typeOf" class="bmd-label-static">
                            プロダクトタイプ<span class="text-danger">＊</span>
                        </label>

                        <select class="form-control" name="typeOf">
                            <% paymentServiceTypes.forEach((paymentServiceType) => { %>
                            <option value="<%= paymentServiceType.codeValue %>"
                                <% if (forms.typeOf === paymentServiceType.codeValue) { %> selected<% } %>>
                                <%= paymentServiceType.name %></option>
                            <% }) %>
                        </select>

                        <% if (errors && errors['typeOf']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['typeOf'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label for="productID" class="bmd-label-static">
                            プロダクトID<span class="text-danger">＊</span>
                        </label>

                        <% if (isNew) { %>
                        <input type="text" class="form-control" name="productID" id="productID" placeholder=""
                            maxlength=30 value="<%= forms.productID %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% } else { %>
                        <!-- <input type="text" class="form-control" name="productID" id="productID" placeholder=""
                            maxlength=30 value="<%= forms.productID %>"> -->
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <input type="text" disabled class="form-control" placeholder="" maxlength=30
                            value="<%= forms.productID %>">
                        <input type="hidden" class="form-control" name="productID" id="productID"
                            value="<%= forms.productID %>">
                        <% } %>

                        <% if (errors && errors['productID']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['productID'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=30
                            value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link4provider">
                <%- include('./_provider', {
                    providers: forms.provider
                }) %>
            </div>

            <div class="tab-pane" id="link4">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="paymentMethodType" class="bmd-label-static">
                            決済方法区分
                        </label>
                        <select class="form-control" name="paymentMethodType" id="paymentMethodType" style="width: 100%;" <% if (!isNew) { %>
                            disabled="disabled" <% } %>>
                            <% if (forms.paymentMethodType !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.paymentMethodType) %>" selected="selected">
                                <%= forms.paymentMethodType.name.ja %></option>
                            <% } %>
                        </select>
                        <% if (!isNew) { %>
                        <input type="hidden" class="form-control" name="paymentMethodType" value="<%= JSON.stringify(forms.paymentMethodType) %>">
                        <% } %>

                        <% if (errors && errors['paymentMethodType']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['paymentMethodType'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="availableChannel[serviceUrl]" class="bmd-label-static">
                            availableChannel[serviceUrl]
                        </label>
                        <input type="text" class="form-control" name="availableChannel[serviceUrl]" id="availableChannel[serviceUrl]" placeholder=""
                            value="<%= (forms.availableChannel !== undefined && forms.availableChannel !== null) ? forms.availableChannel.serviceUrl : '' %>">
                        <% if (errors && errors['availableChannel.serviceUrl']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['availableChannel.serviceUrl'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="availableChannel[credentials][siteId]" class="bmd-label-static">
                            availableChannel[credentials][siteId]
                        </label>
                        <input type="text" class="form-control" name="availableChannel[credentials][siteId]" id="availableChannel[credentials][siteId]" placeholder=""
                            value="<%= (forms.availableChannel !== undefined && forms.availableChannel !== null) ? forms.availableChannel.credentials.siteId : '' %>">
                        <% if (errors && errors['availableChannel.credentials.siteId']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['availableChannel.credentials.siteId'].msg %>
                        </span>
                        <% } %>
                    </div>
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="availableChannel[credentials][sitePass]" class="bmd-label-static">
                            availableChannel[credentials][sitePass]
                        </label>
                        <input type="text" class="form-control" name="availableChannel[credentials][sitePass]" id="availableChannel[credentials][sitePass]" placeholder=""
                            value="<%= (forms.availableChannel !== undefined && forms.availableChannel !== null) ? forms.availableChannel.credentials.sitePass : '' %>">
                        <% if (errors && errors['availableChannel.credentials.sitePass']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['availableChannel.credentials.sitePass'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="availableChannel[credentials][authorizeServerDomain]" class="bmd-label-static">
                            availableChannel[credentials][authorizeServerDomain]
                        </label>
                        <input type="text" class="form-control" name="availableChannel[credentials][authorizeServerDomain]" id="availableChannel[credentials][authorizeServerDomain]" placeholder=""
                            value="<%= (forms.availableChannel !== undefined && forms.availableChannel !== null) ? forms.availableChannel.credentials.authorizeServerDomain : '' %>">
                        <% if (errors && errors['availableChannel.credentials.authorizeServerDomain']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['availableChannel.credentials.authorizeServerDomain'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="availableChannel[credentials][clientId]" class="bmd-label-static">
                            availableChannel[credentials][clientId]
                        </label>
                        <input type="text" class="form-control" name="availableChannel[credentials][clientId]" id="availableChannel[credentials][clientId]" placeholder=""
                            value="<%= (forms.availableChannel !== undefined && forms.availableChannel !== null) ? forms.availableChannel.credentials.clientId : '' %>">
                        <% if (errors && errors['availableChannel.credentials.clientId']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['availableChannel.credentials.clientId'].msg %>
                        </span>
                        <% } %>
                    </div>
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="availableChannel[credentials][clientSecret]" class="bmd-label-static">
                            availableChannel[credentials][clientSecret]
                        </label>
                        <input type="text" class="form-control" name="availableChannel[credentials][clientSecret]" id="availableChannel[credentials][clientSecret]" placeholder=""
                            value="<%= (forms.availableChannel !== undefined && forms.availableChannel !== null) ? forms.availableChannel.credentials.clientSecret : '' %>">
                        <% if (errors && errors['availableChannel.credentials.clientSecret']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['availableChannel.credentials.clientSecret'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            AvailableChannel
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editAvailableChannelJson" role="button"
                            aria-expanded="false" aria-controls="editAvailableChannelJson">
                            編集する
                        </a>

                        <div class="collapse" id="editAvailableChannelJson">
                            <textarea disabled class="form-control" name="availableChannelStr"
                                rows=20><%= JSON.stringify(forms.availableChannel, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            Service Output
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editServiceOutputJson" role="button"
                            aria-expanded="false" aria-controls="editServiceOutputJson">
                            編集する
                        </a>

                        <div class="collapse" id="editServiceOutputJson">
                            <textarea disabled class="form-control" name="serviceOutputStr"
                                rows=20><%= JSON.stringify(forms.serviceOutput, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end card -->