<div class="card">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4provider" role="tablist">
                    プロバイダー
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                    高度な設定
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <input type="hidden" name="id" value="<%= forms.id %>">

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-2">
                        <label for="typeOf" class="bmd-label-static">
                            プロダクトタイプ<span class="text-danger">＊</span>
                        </label>

                        <select class="form-control" name="typeOf">
                            <% paymentServiceTypes.forEach((paymentServiceType) => { %>
                            <option value="<%= paymentServiceType.codeValue %>"
                                <% if (forms.typeOf === paymentServiceType.codeValue) { %> selected<% } %>>
                                <%= paymentServiceType.name %></option>
                            <% }) %>
                        </select>

                        <% if (errors && errors['typeOf']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['typeOf'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-2">
                        <label for="productID" class="bmd-label-static">
                            プロダクトID<span class="text-danger">＊</span>
                        </label>

                        <% if (isNew) { %>
                        <input type="text" class="form-control" name="productID" id="productID" placeholder=""
                            maxlength=30 value="<%= forms.productID %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% } else { %>
                        <input type="text" class="form-control" name="productID" id="productID" placeholder=""
                            maxlength=30 value="<%= forms.productID %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <!-- <input type="text" disabled class="form-control" placeholder="" maxlength=30
                            value="<%= forms.productID %>">
                        <input type="hidden" class="form-control" name="productID" id="productID"
                            value="<%= forms.productID %>"> -->
                        <% } %>

                        <% if (errors && errors['productID']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['productID'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="name[ja]" class="bmd-label-static">
                            名称<span class="text-danger">＊</span>
                        </label>
                        <input type="text" class="form-control" name="name[ja]" id="name[ja]" placeholder=""
                            maxlength=30
                            value="<%= (forms.name !== undefined && forms.name !== null) ? forms.name.ja : '' %>">
                        <span class="bmd-help">30文字以内でご入力ください</span>
                        <% if (errors && errors['name.ja']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['name.ja'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link4provider">
                <%- include('./_provider', {
                    providers: forms.provider
                }) %>
            </div>

            <div class="tab-pane" id="link4">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            AvailableChannel
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editAvailableChannelJson" role="button"
                            aria-expanded="false" aria-controls="editAvailableChannelJson">
                            編集する
                        </a>

                        <div class="collapse" id="editAvailableChannelJson">
                            <textarea class="form-control" name="availableChannelStr"
                                rows=20><%= JSON.stringify(forms.availableChannel, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            Service Output
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editServiceOutputJson" role="button"
                            aria-expanded="false" aria-controls="editServiceOutputJson">
                            編集する
                        </a>

                        <div class="collapse" id="editServiceOutputJson">
                            <textarea class="form-control" name="serviceOutputStr"
                                rows=20><%= JSON.stringify(forms.serviceOutput, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end card -->