<%- contentFor('title') %>
決済サービス編集
<%- contentFor('displayId') %>
PR-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/paymentServices/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../common/messages') %>

    <%- include('form', { forms: forms, isNew: false }) %>
</form>