<div class="card card-plain">
    <div class="card-body">
        <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
            <a class="btn btn-primary btn-ok" href="javascript:void(0)">
                <i class="material-icons">save</i> 保存</a>
            <% if (!isNew) { %>
            <a class="btn btn-delete btn-danger" href="javascript:void(0)">
                <i class="material-icons">delete</i> 削除</a>
            <% } %>
        </div>

        <ul class="nav nav-pills nav-pills-dark mt-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                    基本設定
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                    適用条件
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                    有効性
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                    追加特性
                </a>
            </li>
            <%
            const PROJECT_CREATOR_IDS = (typeof process.env.PROJECT_CREATOR_IDS === 'string')
                ? process.env.PROJECT_CREATOR_IDS.split(',')
                : [];
            %>
            <% if (PROJECT_CREATOR_IDS.includes(user.profile.sub)) { %>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                    高度な設定
                </a>
            </li>
            <% } %>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="link1">
                <%- include('../offers/_formBasic', {}) %>
            </div>

            <div class="tab-pane" id="link2">
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="appliesToMovieTicket" class="bmd-label-static">
                            適用決済カード(ムビチケ券種)区分
                        </label>
                        <select class="form-control" name="appliesToMovieTicket" id="appliesToMovieTicket"
                            style="width: 100%;">
                            <% if (forms.appliesToMovieTicket !== undefined) { %>
                            <option value="<%= JSON.stringify(forms.appliesToMovieTicket) %>" selected="selected">
                                <%= forms.appliesToMovieTicket.paymentMethod.typeOf%>
                                <%= forms.appliesToMovieTicket.name.ja %></option>
                            <% } %>
                        </select>
                        <% if (errors && errors['appliesToMovieTicket']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['appliesToMovieTicket'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="eligibleSeatingType" class="bmd-label-static">
                            適用座席区分
                        </label>
                        <div class="input-group">
                            <select class="form-control" name="eligibleSeatingType" id="eligibleSeatingType"
                                style="width: 100%;">
                                <% if (forms.eligibleSeatingType !== undefined) { %>
                                <option value="<%= JSON.stringify(forms.eligibleSeatingType) %>" selected="selected">
                                    <%= forms.eligibleSeatingType.name.ja %></option>
                                <% } %>
                            </select>
                        </div>

                        <% if (errors && errors['eligibleSeatingType']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['eligibleSeatingType'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="eligibleSubReservation" class="bmd-label-static">
                            適用サブ予約
                        </label>
                        <div class="input-group">
                            <select class="form-control" name="eligibleSubReservation" id="eligibleSubReservation"
                                style="width: 100%;">
                                <% if (forms.eligibleSubReservation !== undefined) { %>
                                <option value="<%= JSON.stringify(forms.eligibleSubReservation) %>" selected="selected">
                                    <%= forms.eligibleSubReservation.name.ja %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">が</span>
                            </div>
                            <input type="number" class="form-control" name="eligibleSubReservationAmount"
                                id="eligibleSubReservationAmount" placeholder="" maxlength=10
                                value="<%= forms.eligibleSubReservationAmount %>">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">席必要</span>
                            </div>
                        </div>

                        <% if (errors && errors['eligibleSubReservationAmount']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['eligibleSubReservationAmount'].msg %>
                        </span>
                        <% } %>
                    </div>

                    <div class="form-group bmd-form-group col-md-3">
                        <label for="eligibleMonetaryAmount" class="bmd-label-static">
                            適用通貨区分
                        </label>
                        <div class="input-group">
                            <select class="form-control" name="eligibleMonetaryAmount" id="eligibleMonetaryAmount"
                                style="width: 100%;">
                                <% if (forms.eligibleMonetaryAmount !== undefined) { %>
                                <option value="<%= JSON.stringify(forms.eligibleMonetaryAmount) %>" selected="selected">
                                    <%= forms.eligibleMonetaryAmount.name.ja %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2">が</span>
                            </div>
                            <input type="number" class="form-control" name="eligibleMonetaryAmountValue"
                                id="eligibleMonetaryAmountValue" placeholder="" maxlength=10
                                value="<%= forms.eligibleMonetaryAmountValue %>">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">必要</span>
                            </div>
                        </div>

                        <% if (errors && errors['eligibleMonetaryAmount']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['eligibleMonetaryAmount'].msg %>
                        </span>
                        <% } %>
                        <% if (errors && errors['eligibleMonetaryAmountValue']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['eligibleMonetaryAmountValue'].msg %>
                        </span>
                        <% } %>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-6">
                        <label for="priceSpecification[eligibleQuantity][minValue]" class="bmd-label-static">
                            適用アイテム数
                        </label>
                        <div class="input-group">
                            <select class="form-control" name="priceSpecification[eligibleQuantity][minValue]">
                                <option value="" selected>指定しない</option>
                                <% for (let i = 1; i <= 50; i++) { %>
                                <option value="<%= i %>"
                                    <% if (forms.priceSpecification.eligibleQuantity !== undefined && Number(forms.priceSpecification.eligibleQuantity.minValue) === i) { %>
                                    selected <% } %>>
                                    <%= i %>
                                </option>
                                <% } %>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">枚以上</span>
                            </div>

                            <select class="form-control" name="priceSpecification[eligibleQuantity][maxValue]">
                                <option value="" selected>指定しない</option>
                                <% for (let i = 1; i <= 50; i++) { %>
                                <option value="<%= i %>"
                                    <% if (forms.priceSpecification.eligibleQuantity !== undefined && Number(forms.priceSpecification.eligibleQuantity.maxValue) === i) { %>
                                    selected <% } %>>
                                    <%= i %>
                                </option>
                                <% } %>
                            </select>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">枚以下</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group bmd-form-group col-md-6">
                        <label for="priceSpecification[eligibleTransactionVolume][price]" class="bmd-label-static">
                            適用金額
                        </label>
                        <div class="input-group">
                            <input type="number" class="form-control"
                                name="priceSpecification[eligibleTransactionVolume][price]"
                                id="priceSpecification[eligibleTransactionVolume][price]" placeholder=""
                                value="<%= (forms.priceSpecification.eligibleTransactionVolume !== undefined) ? Number(forms.priceSpecification.eligibleTransactionVolume.price) : '' %>">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">円以上</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="link3">

                <div class="form-group bmd-form-group">
                    <label for="priceSpecification[eligibleQuantity][minValue]" class="bmd-label-static">
                        有効期間
                    </label>

                    <div class="input-group date" id="datetimepicker2">
                        <input type="text" class="form-control datepicker" name="validFrom"
                            value="<%= forms.validFrom %>">
                        <!-- <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span> -->
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">から</span>
                        </div>

                        <input type="text" class="form-control datepicker" name="validThrough"
                            value="<%= forms.validThrough %>">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">まで有効</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="link4">
                <%- include('../common/part/_additionalProperty', {
                    additionalProperty: forms.additionalProperty
                }) %>
            </div>

            <div class="tab-pane" id="link5">
                <% if (!isNew) { %>
                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-12">
                        <label for="" class="bmd-label-static">
                            高度な名称
                        </label>
                        <a class="d-block pt-1" data-toggle="collapse" href="#editNameJson" role="button"
                            aria-expanded="false" aria-controls="editNameJson">
                            編集する
                        </a>

                        <div class="collapse" id="editNameJson">
                            <textarea class="form-control" name="nameStr"
                                rows=20><%= JSON.stringify(forms.name, null, '\t') %></textarea>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="form-row">
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="eligibleMembershipType" class="bmd-label-static">
                            適用メンバーシップ区分
                        </label>
                        <div class="input-group">
                            <select class="form-control" name="eligibleMembershipType" id="eligibleMembershipType"
                                style="width: 100%;">
                                <% if (forms.eligibleMembershipType !== undefined) { %>
                                <option value="<%= JSON.stringify(forms.eligibleMembershipType) %>" selected="selected">
                                    <%= forms.eligibleMembershipType.name.ja %></option>
                                <% } %>
                            </select>
                        </div>
    
                        <% if (errors && errors['eligibleMembershipType']) { %>
                        <span class="bmd-help text-danger d-block">
                            <%- errors['eligibleMembershipType'].msg %>
                        </span>
                        <% } %>
                    </div>
    
                    <div class="form-group bmd-form-group col-md-3">
                        <label for="validRateLimit[scope]" class="bmd-label-static">
                            レート制限
                        </label>
    
                        <div class="input-group">
                            <input type="text" disabled class="form-control" name="validRateLimit[scope]"
                                id="validRateLimit[scope]" placeholder="" maxlength=10
                                value="<%= (forms.validRateLimit !== undefined && forms.validRateLimit !== null) ? forms.validRateLimit.scope : '' %>">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">のスコープで</span>
                            </div>
                            <input type="text" disabled class="form-control" name="validRateLimit[unitInSeconds]"
                                id="validRateLimit[unitInSeconds]" placeholder="" maxlength=10
                                value="<%= (forms.validRateLimit !== undefined && forms.validRateLimit !== null) ? forms.validRateLimit.unitInSeconds : '' %>">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">秒に1席</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- end card -->