<%- contentFor('title') %>
券種検索
<%- contentFor('displayId') %>
Aa-6
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/ticketTypeList.js"></script>
<%- contentFor('body') %>
<% /* フォーム */ %>

<div class="card">
    <div class="card-body">
        <form method="post">
            <% /* 共通Hiddenコントロール */ %>
            <%- include('../common/master/_hidden') %>
            <div class="menu-group">
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="identifier" class="bmd-label-static">
                        コード
                    </label>
                    <input type="text" class="form-control" name="identifier" id="identifier" placeholder=""
                        maxlength=64>
                </div>

                <div class="form-group bmd-form-group col-md-3">
                    <label for="name" class="bmd-label-static">
                        名称
                    </label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="" maxlength=64>
                </div>
                <div class="form-group bmd-form-group col-md-3">
                    <label for="ticketTypeGroups" class="bmd-label-static">
                        券種グループ
                    </label>
                    <select name="ticketTypeGroups" id="ticketTypeGroups" class="form-control">
                        <option value="">---</option>
                        <% for (let ticketTypeGroupList of ticketTypeGroupsList) { %>
                        <option value="<%- ticketTypeGroupList.id %>">
                            <%- ticketTypeGroupList.name.ja %>
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group bmd-form-group col-md-3">
                    <label for="category[codeValue]" class="bmd-label-static">
                        カテゴリー
                    </label>
                    <select class="form-control" name="category[codeValue]">
                        <option value="">---</option>
                        <% ticketTypeCategories.forEach((category) => { %>
                        <option value="<%= category.codeValue %>">
                            <%= category.name.ja %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-6">
                    <label for="" class="bmd-label-static">
                        単価
                    </label>
                    <div class="input-group">
                        <select class="form-control" name="priceSpecification[referenceQuantity][value]">
                            <option value="">---</option>
                            <% for (let i = 1; i <= 10; i++) { %>
                            <option value="<%= i %>">
                                <%= i %>
                            </option>
                            <% } %>
                        </select>

                        <div class="input-group-append">
                            <span class="input-group-text">枚あたり</span>
                        </div>

                        <input class="form-control" placeholder="" maxlength=10 name="priceSpecification[minPrice]"
                            id="priceSpecification[minPrice]" value="" />

                        <div class="input-group-append">
                            <span class="input-group-text">円以上</span>
                        </div>

                        <input class="form-control" placeholder="" maxlength=10 name="priceSpecification[maxPrice]"
                            id="priceSpecification[maxPrice]" value="" />

                        <div class="input-group-append">
                            <span class="input-group-text">円以下</span>
                        </div>
                    </div>
                </div>

                <div class="form-group bmd-form-group col-md-6"></div>
            </div>

            <div class="panel-body">
                <a class="btn btn-primary" role="button" href="/ticketTypes/add">
                    <i class=" fa fa-plus"></i> 登録</a>
                <% if (process.env.USE_COA === '1') { %>
                <a class="btn btn-primary importFromCOA" role="button" href="javascript:void(0)">
                    <i class=" fa fa-plus"></i> COAからインポート</a>
                <% } %>

                <button type="button" class="reset-condition btn btn-secondary float-right">検索内容リセット</button>
                <button type="button" class="btn search btn-ok btn-success float-right">検索</button>
            </div>
        </form>
    </div>
</div>

<% /* 一覧 */ %>
<div class="form-container search">
    <p id="resultStats" style="display:none;">
    </p>
    <!-- <p class="mb-3" id="searchedCount" style="display:none;">
        検索結果$searched_count$件
    </p> -->
    <div id="list" style="display:none;">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>コード</th>
                                <th>利用状況</th>
                                <th>カテゴリー</th>
                                <th>名称</th>
                                <th>発生金額<br>売上金額</th>
                                <th>適用条件</th>
                                <th>有効性</th>
                                <th>アドオン</th>
                                <th>追加特性</th>
                                <th>関連グループ</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr id="templateRow" _id="$id$">
                                <td name="id__identifier">
                                    <a target="_blank" href="/ticketTypes/$id$/update">
                                        $identifier$
                                        <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                    </a><br>
                                </td>
                                <td name="availability">
                                    <span class="text-muted">$availability$</span>
                                </td>
                                <td name="category.codeValue">$category.codeValue$</td>
                                <td name="name.ja|slice__name.en|slice">$name.ja$<br>$name.en$</td>
                                <td name="priceSpecification.price__priceSpecification.priceCurrency__priceSpecification.accounting.accountsReceivable__priceSpecification.priceCurrency__referenceQuantity.value"
                                    class="text-right">
                                    $priceSpecification.price$ $priceSpecification.priceCurrency$ /
                                    $referenceQuantity.value$<br>
                                    $priceSpecification.accounting.accountsReceivable$
                                    $priceSpecification.priceCurrency$
                                </td>
                                <td
                                    name="eligibleMonetaryAmount.0.currency__eligibleMonetaryAmount.0.value__eligibleSeatingType.0.codeValue__priceSpecification.appliesToMovieTicketType__appliesToMovieTicket.name">
                                    ムビ: $priceSpecification.appliesToMovieTicketType$ $appliesToMovieTicket.name$<br>
                                    座席: $eligibleSeatingType.0.codeValue$ /
                                    口座: $eligibleMonetaryAmount.0.value$
                                    $eligibleMonetaryAmount.0.currency$
                                </td>
                                <td name="validFrom|parseDateTime__validThrough|parseDateTime__validRateLimitStr">
                                    $validFrom$ ~ $validThrough$<br>
                                    $validRateLimitStr$
                                </td>
                                <td name="availableAddOnNames">$availableAddOnNames$
                                </td>
                                <td name="id__additionalProperty">
                                    <a href="javascript:void(0)" class="showAdditionalProperty" data-id="$id$">
                                        <span>表示</span>
                                    </a>
                                </td>
                                <td name="id__ticketTypeGroups" class="text-center">
                                    <a href="javascript:void(0)" data-id="$id$" class="popupListTicketTypeGroup">
                                        表示
                                    </a>
                                </td>
                                <td name="id">
                                    <a target="_blank" href="/ticketTypes/$id$/update">
                                        編集
                                        <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>

<div class="modal fade" id="modal-additionalProperty" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">券種の追加特性</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<%- include('../common/master/_loading') %>

<%# popup %>
<%- include('./_listTicketTypeGroup') %>