<%- contentFor('title') %>
科目登録
<%- contentFor('displayId') %>
AT-03
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <% /* 登録・更新共通部 */ %>
    <%- include('form', { forms: forms, isNew: true }) %>
</form>

<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>