<%- contentFor('title') %>
科目編集
<%- contentFor('displayId') %>
AT-05
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/accountTitles/accountTitleSet/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../../common/errorMessage') %>
    <%- include('../../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: false }) %>
</form>