<%- contentFor('title') %>
科目登録
<%- contentFor('displayId') %>
AT-03
<%- contentFor('styles') %>

<%- contentFor('scripts') %>

<%- contentFor('body') %>
<div class="form-container">
    <% /* フォーム */ %>
    <form method="post" class="p-3 bg-light-gray">
        <div class="menu-group">
            <%- include('../../common/errorMessage') %>
            <%- include('../../common/successMessage') %>
        </div>

        <% /* 登録・更新共通部 */ %>
        <%- include('form', { forms: forms, isNew: false }) %>

        <% /* 更新ボタン */ %>
        <div class="btn-area panel-body">
            <button type="button" class="btn btn-ok btn-primary">更新する</button>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('.btn-ok').on('click', function () {
            $('form').submit();
        });
        // datepickerセット
        $('.datepicker').datepicker({
            language: 'ja'
        })
    });
</script>