<%- contentFor('title') %>
座席検索
<%- contentFor('displayId') %>
ST-01
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/places/seats.js"></script>

<%- contentFor('body') %>

<div class="card">
    <div class="card-body">
        <form method="post">
            <%- include('../../common/master/_hidden') %>
            <div class="menu-group">
            </div>

            <div class="form-row">
                <div class="form-group bmd-form-group col-md-3">
                    <label for="containedInPlace[containedInPlace][containedInPlace][branchCode][$eq]"
                        class="bmd-label-static">
                        劇場
                    </label>
                    <select class="form-control"
                        name="containedInPlace[containedInPlace][containedInPlace][branchCode][$eq]">
                        <option value="">選択してください</option>
                        <% for (const movieTheater of movieTheaters) { %>
                        <option value="<%= movieTheater.branchCode %>">
                            <%= movieTheater.name.ja %>
                        </option>
                        <% } %>
                    </select>
                </div>

                <div class="form-group bmd-form-group col-md-3">
                    <label for="branchCode[$eq]" class="bmd-label-static">
                        コード
                    </label>
                    <input class="form-control" name="branchCode[$eq]">
                </div>
            </div>

            <div>
                <!-- <a class="btn btn-primary" role="button" href="/places/movieTheater/new">
                    <i class=" fa fa-plus"></i> 登録</a> -->
                <button type="button" class="reset-condition btn btn-secondary float-right">検索内容リセット</button>
                <button type="button" class="btn search btn-ok btn-success float-right">検索</button>
            </div>
        </form>
    </div>
</div>

<div class="form-container search">
    <p id="resultStats" style="display:none;">
    </p>
    <!-- <p class="mb-3" id="searchedCount" style="display:none;">
        検索結果 $searched_count$件
    </p> -->
    <div id="list" style="display:none;">

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>コード</th>
                                <th>劇場</th>
                                <th>スクリーン</th>
                                <th>セクション</th>
                                <th>座席タイプ</th>
                                <th>追加特性</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="templateRow" identifier="">
                                <td
                                    name="containedInPlace.containedInPlace.containedInPlace.branchCode__containedInPlace.containedInPlace.branchCode__containedInPlace.branchCode__branchCode__branchCode">
                                    <a target="_blank"
                                        href="/places/seat/$containedInPlace.containedInPlace.containedInPlace.branchCode$:$containedInPlace.containedInPlace.branchCode$:$containedInPlace.branchCode$:$branchCode$/update">
                                        $branchCode$
                                        <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                    </a>
                                </td>
                                <td
                                    name="containedInPlace.containedInPlace.containedInPlace.branchCode__containedInPlace.containedInPlace.containedInPlace.name.ja|slice">
                                    <span class="font-italic text-muted">$containedInPlace.containedInPlace.containedInPlace.branchCode$</span>
                                    $containedInPlace.containedInPlace.containedInPlace.name.ja$
                                </td>
                                <td
                                    name="containedInPlace.containedInPlace.branchCode__containedInPlace.containedInPlace.name.ja|slice">
                                    <span class="font-italic text-muted">$containedInPlace.containedInPlace.branchCode$</span>
                                    $containedInPlace.containedInPlace.name.ja$
                                </td>
                                <td name="containedInPlace.branchCode__containedInPlace.name.ja|slice">
                                    <span class="font-italic text-muted">$containedInPlace.branchCode$</span>
                                    $containedInPlace.name.ja$
                                </td>
                                <td name="seatingTypeStr">
                                    $seatingTypeStr$<br>
                                </td>
                                <td name="id" class="">
                                    <a href="javascript:void(0)" class="showAdditionalProperty" data-id="$id$">
                                        <span>表示</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div id="pager" class="div_pager_parent"></div>
</div>

<div class="modal fade" id="modal-additionalProperty" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">追加特性</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-containsPlace" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                <h4 class="modal-title">スクリーン情報</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<%- include('../../common/master/_loading') %>