<%- contentFor('title') %>
座席編集
<%- contentFor('displayId') %>
ST-02
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/places/seat.js"></script>
<%- contentFor('body') %>
<form method="post">
    <%- include('../../common/messages') %>

    <%- include('form', { forms: forms, isNew: false }) %>
</form>