<%- contentFor('title') %>
プロダクト検索
<%- contentFor('displayId') %>
PR-00
<%- contentFor('styles') %>
<link href="/css/simplePagination.css" rel="stylesheet">
<%- contentFor('scripts') %>
<script src="/js/jquery.simplePagination.js"></script>
<script src="/js/master/commonMaster.js"></script>
<script src="/js/master/commonMasterList.js"></script>
<script src="/js/master/products/index.js"></script>

<%- contentFor('body') %>

<div class="card">
    <div class="card-body search searchProducts">
        <form method="post">
            <%- include('../common/master/_hidden') %>

            <div class="form-group bmd-form-group">
                <label for="name[$regex]" class="bmd-label-static">
                    名称
                </label>
                <input class="form-control" name="name[$regex]" id="name[$regex]" placeholder="" maxlength=64 value="">
            </div>

            <div class="panel-body">
                <a class="btn btn-primary" role="button" href="/products/new">
                    <i class=" fa fa-plus"></i> 登録</a>

                <button type="button" class="reset-condition btn btn-secondary float-right">検索内容リセット</button>
                <button type="button" class="btn search btn-ok btn-success float-right">検索</button>
            </div>
        </form>
        <div class="material-datatables">
            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                </div>
                <div id="list" style="display:none;" class="row">
                    <div class="col-sm-12">
                        <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline"
                            cellspacing="0" width="100%" style="width: 100%;" role="grid"
                            aria-describedby="datatables_info">
                            <thead class="text-primary">
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="templateRow">
                                    <td name="id__id">
                                        <a target="_blank" href="/products/$id$">
                                            $id$
                                            <i class="material-icons" style="font-size: 1.2em;">open_in_new</i>
                                        </a>
                                    </td>
                                    <td name="name.ja">
                                        $name.ja$
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                        </div>
                        <div id="pager" class="div_pager_parent float-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../common/master/_loading') %>