<%- contentFor('title') %>
プロダクト登録
<%- contentFor('displayId') %>
PR-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/products/form.js"></script>

<%- contentFor('body') %>
<% /* フォーム */ %>
<form method="post">
    <%- include('../common/errorMessage') %>
    <%- include('../common/successMessage') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>