<%- contentFor('title') %>
決済カード作成
<%- contentFor('displayId') %>
MS-01
<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/master/services/paymentCard/form.js"></script>

<%- contentFor('body') %>
<form method="post">
    <%- include('../../common/messages') %>

    <%- include('form', { forms: forms, isNew: true }) %>
</form>