<% if (errors && errors[`contactPoint`]) { %>
<div class="form-row">
    <p class="bmd-help text-danger d-block">
        <%- errors[`contactPoint`].msg %>
    </p>
</div>
<% } %>

<% contactPoint.forEach((_, key) => { %>
    <div class="form-row">
        <div class="form-group bmd-form-group col-4">
            <label class="bmd-label-floating">name</label>
            <input class="form-control" name="contactPoint[<%= key %>][name]"
                id="contactPoint[<%= key %>][name]" maxlength=128 value="<%= contactPoint[key].name %>">
            <% if (errors && errors[`contactPoint[${key}].name`]) { %>
            <span class="bmd-help text-danger d-block">
                <%- errors[`contactPoint[${key}].name`].msg %>
            </span>
            <% } %>
        </div>
        <div class="form-group bmd-form-group col-4">
            <label class="bmd-label-floating">email</label>
            <input class="form-control" name="contactPoint[<%= key %>][email]"
                id="contactPoint[<%= key %>][email]" maxlength=128 value="<%= contactPoint[key].email %>">
            <% if (errors && errors[`contactPoint[${key}].email`]) { %>
            <span class="bmd-help text-danger d-block">
                <%- errors[`contactPoint[${key}].email`].msg %>
            </span>
            <% } %>
        </div>
        <div class="form-group bmd-form-group col-4">
            <label class="bmd-label-floating">telephone
                <a href="javascript:void(0);" data-toggle="tooltip"
                    title="<p class=&quot;text-left mb-0&quot;><a target=&quot;blank&quot; href=&quot;https://ja.wikipedia.org/wiki/E.164&quot;>E.164形式についてはこちら</a><br>例えば、日本の0312345678のような番号であれば、+81312345678と入力します。</p>"
                    style="pointer-events: auto;">
                    <span class="material-icons" style="font-size: 1.2em;">
                        help
                    </span>
                </a>
            </label>
            <input class="form-control" name="contactPoint[<%= key %>][telephone]"
                id="contactPoint[<%= key %>][telephone]" maxlength=128 value="<%= contactPoint[key].telephone %>">
                <span class="bmd-help">E.164形式で入力してください</span>
            <% if (errors && errors[`contactPoint[${key}].telephone`]) { %>
            <span class="bmd-help text-danger d-block">
                <%- errors[`contactPoint[${key}].telephone`].msg %>
            </span>
            <% } %>
        </div>
    </div>
    <% }) %>